In [2]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

path = "/Users/macbook/Desktop/IBM/DATA ENGINEER/00 - BootCamp Data Engineer - DataScientist/Ders Notlari Jupeyter Notebook/Data"

In [3]:
df = pd.read_csv(f"{path}/Womens_Clothing.csv")

df.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
df.columns

Index(['Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [15]:
df["Rating"].value_counts().sort_values()

1      842
2     1565
3     2871
4     5077
5    13131
Name: Rating, dtype: int64

In [17]:
df["Age"].describe()

count    23486.000000
mean        43.198544
std         12.279544
min         18.000000
25%         34.000000
50%         41.000000
75%         52.000000
max         99.000000
Name: Age, dtype: float64

In [18]:
df["Clothing ID"].describe()

count    23486.000000
mean       918.118709
std        203.298980
min          0.000000
25%        861.000000
50%        936.000000
75%       1078.000000
max       1205.000000
Name: Clothing ID, dtype: float64

In [28]:
df["Clothing ID"].value_counts().count()

1206

In [20]:
df.isna().sum()

Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64