''' Pyspark '''

In [1]:
import warnings
warnings.simplefilter(action='ignore')

'''Pyspark Deneme'''

In [2]:
import pyspark
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[*]") \
                    .appName('BigData-ETL.com') \
                    .getOrCreate()

print(f'The PySpark {spark.version} version is running...')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/04 09:52:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

The PySpark 3.4.0 version is running...

# Pysaprk DataScientest Ders01 - Big data processing with Pyspark

## Introduction to PySpark

In [2]:
# Importing SparkContext from the pyspark module
from pyspark import SparkContext

# Defining a SparkContext locally
sc = SparkContext('local')
sc

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/04 10:15:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
import pandas as pd

path = "/Users/macbook/Desktop/IBM/DataScientest_Datalar"

df = pd.read_csv(f"{path}/2008.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,2008,1,1,2,2057.0,2052,2312.0,2258,AS,324,...,7.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,1,2,703.0,715,958.0,951,AS,572,...,6.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,1,2,2011.0,1846,2248.0,2145,AS,511,...,7.0,14.0,0,NaN,0,0.0,0.0,0.0,0.0,63.0
3,2008,1,1,2,2301.0,2300,2354.0,2359,AS,376,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,1,2,1221.0,1221,1422.0,1438,AS,729,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [3]:
# Import the time library and calculation of time at the beginning of the execution (t0)
path = "/Users/macbook/Desktop/IBM/DataScientest_Datalar"

from time import time
t0 = time()

#Reading the file "2008_raw.csv"
raw_rdd = sc.textFile(f"file:///{path}/2008.csv")
#raw_rdd = sc.textFile(f"/{path}/2008.csv") ==> Hata veriyor file:/// eklemezsen 

# Calculation of file reading time
t1 = time() - t0
print("Done in {} seconds".format(round(t1,3)))

Done in 0.784 seconds

In [4]:
# Calculation of time at the beginning of execution (t0)
t0 = time()

### Insert your code here
raw_rdd.take(5)

### Do not change the code below
# Calculation of the time of display of the 5 elements
t1 = time() - t0
print("Done in {} seconds".format(round(t1,3)))
raw_rdd.take(5)

Done in 2.192 seconds

['2008,1,1,2,2057,2052,2312,2258,AS,324,N306AS,135,126,112,14,5,SEA,SJC,697,7,16,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,703,715,958,951,AS,572,N302AS,175,156,144,7,-12,SEA,PSP,987,6,25,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,2011,1846,2248,2145,AS,511,N564AS,157,179,136,63,85,SAN,SEA,1050,7,14,0,,0,0,0,0,0,63',
 '2008,1,1,2,2301,2300,2354,2359,AS,376,N309AS,53,59,35,-5,1,SEA,GEG,224,5,13,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,1221,1221,1422,1438,AS,729,N317AS,181,197,164,-16,0,TUS,SEA,1216,6,11,0,,0,NA,NA,NA,NA,NA']

In [6]:
# calculation of the number of lines 
count = raw_rdd.count()
count

151102

In [34]:
# Creating an rdd whose lines are a list of raw_rdd elements 
airplane_rdd = raw_rdd.map(lambda line: line.split(","))

# Display of the first line of the rdd
airplane_rdd.take(1)

[['2008',
  '1',
  '1',
  '2',
  '2057',
  '2052',
  '2312',
  '2258',
  'AS',
  '324',
  'N306AS',
  '135',
  '126',
  '112',
  '14',
  '5',
  'SEA',
  'SJC',
  '697',
  '7',
  '16',
  '0',
  '',
  '0',
  'NA',
  'NA',
  'NA',
  'NA',
  'NA']]

## Map, reduceByKey

In [8]:
# Creating a new rdd by summarizing the lines by the departure airport
hist_rdd = airplane_rdd.map(lambda x: (x[7], 1)).reduceByKey(lambda x,y: x+y)

# Display of the first 5 lines 
hist_rdd.take(5)

[('2258', 89), ('951', 156), ('2145', 314), ('2359', 223), ('1438', 106)]

In [10]:
# Step 02
print(raw_rdd.take(1))

['2008,1,1,2,2057,2052,2312,2258,AS,324,N306AS,135,126,112,14,5,SEA,SJC,697,7,16,0,,0,NA,NA,NA,NA,NA']

In [11]:
# Step 03
hist_rdd = airplane_rdd.map(lambda line: (line[7], 1))
hist_raw_rdd = raw_rdd.map(lambda line_string: (line_string[0:10], 1))
print("hist_rdd = ", hist_rdd.take(3))
print("hist_raw_rdd = ", hist_raw_rdd.take(3))

hist_rdd =  [('2258', 1), ('951', 1), ('2145', 1)]
hist_raw_rdd =  [('2008,1,1,2', 1), ('2008,1,1,2', 1), ('2008,1,1,2', 1)]

In [12]:
# Step 04
sil = raw_rdd.map(lambda line: (line[0:5]))
sil.take(5)

['2008,', '2008,', '2008,', '2008,', '2008,']

In [ ]:
## collect

In [15]:
# Insert your code here
hist_rdd.collect()[:5]

[('2258', 1), ('951', 1), ('2145', 1), ('2359', 1), ('1438', 1)]

## sorted ,reverse

In [23]:
# sorting data in decreasing order
# Creating a list from an rdd
hist = hist_rdd.collect()

# display of the entire list
print(hist[:5])

sorted(hist[:10], key= lambda x: x[0], reverse= 1)

[('2258', 1), ('951', 1), ('2145', 1), ('2359', 1), ('1438', 1)]

[('951', 1),
 ('844', 1),
 ('523', 1),
 ('2359', 1),
 ('2330', 1),
 ('2258', 1),
 ('2145', 1),
 ('2125', 1),
 ('1956', 1),
 ('1438', 1)]

## filter, map, reduceByKey, collect

In [37]:
# Creating an rdd whose lines are a list of raw_rdd elements 
airplane_rdd = raw_rdd.map(lambda line: line.split(","))

# Calculation and display of the number of cancelled flights by city of origin
airplane_rdd \
    .filter(lambda x: x[10] == "1") \
    .map(lambda x: (x[8], 1)) \
    .reduceByKey(lambda x,y: x+y) \
    .collect()

[]

In [30]:
airplane_rdd \
    .filter(lambda x: x[10] == "1") \
    .collect()

[]

In [40]:
airplane_rdd.take(1)

[['2008',
  '1',
  '1',
  '2',
  '2057',
  '2052',
  '2312',
  '2258',
  'AS',
  '324',
  'N306AS',
  '135',
  '126',
  '112',
  '14',
  '5',
  'SEA',
  'SJC',
  '697',
  '7',
  '16',
  '0',
  '',
  '0',
  'NA',
  'NA',
  'NA',
  'NA',
  'NA']]

# DERS 02

In [73]:
miserables = sc.textFile(f"file:///{path}/miserable_full.txt")
miserables.take(5)

["'LES MISÃ‰RABLES',",
 " 'VOLUME I.-FANTINE.',",
 " 'PREFACE',",
 " 'So long as there shall exist, by virtue of law and custom, decrees of damnation pronounced by society, artificially creating hells amid the civilization of earth, and adding the element of human fate to divine destiny ; so long as the three great problems of the century-the degradation of man through pauperism, the corruption of woman through hunger, the crippling of children through lack of light-are unsolved ; so long as social asphyxia is possible in any part of the world ;-in other words, and with a still wider significance, so long as ignorance and poverty exist on earth, books of the nature of Les MisÃ©rables cannot fail to be of use.',",
 " 'HAUTEVILLE HOUSE, 1862.',"]

## replace

In [69]:
miserables_clean = miserables.map(lambda x : x.lower().replace(',', ' ')\
                                  .replace('.', ' ')\
                                  .replace('-', ' ')\
                                  .replace('\'', ' '))
miserables_clean.take(5)

[' les misÃ©rables  ',
 '  volume i  fantine   ',
 '  preface  ',
 '  so long as there shall exist  by virtue of law and custom  decrees of damnation pronounced by society  artificially creating hells amid the civilization of earth  and adding the element of human fate to divine destiny ; so long as the three great problems of the century the degradation of man through pauperism  the corruption of woman through hunger  the crippling of children through lack of light are unsolved ; so long as social asphyxia is possible in any part of the world ; in other words  and with a still wider significance  so long as ignorance and poverty exist on earth  books of the nature of les misÃ©rables cannot fail to be of use   ',
 '  hauteville house  1862   ']

## flatMap

In [70]:
miserables_flat = miserables_clean.flatMap(lambda line: line.split(" "))
print("miserables_flat count = ", miserables_flat.count())
print("miserables count =", miserables.count())

miserables_flat count =  54702
miserables count = 1001

In [71]:
words = miserables_flat.map(lambda x : (x, 1)) \
                        .reduceByKey(lambda x,y : x+y) \
                        .collect()

sorted(words, key=lambda x: x[1], reverse=1)[:5]

[('', 10405), ('the', 3015), ('of', 1564), ('a', 1136), ('and', 1097)]

## all func. in one code

In [72]:
#Direct creation of a list containing the words
words_sorted_3 =  sc.textFile(f"file:///{path}/miserable_full.txt") \
                    .map(lambda x : x.lower().replace(',', ' ').replace('.', ' ').replace('-', ' ').replace('\'', ' ').replace('\\', ' ')) \
                    .flatMap(lambda line : line.split(" ")) \
                    .map(lambda x : (x,1)) \
                    .reduceByKey(lambda x,y : x+y) \
                    .sortBy(lambda couple: couple[1], ascending = False) \

words_sorted_3.collect()[:5]

[('', 10405), ('the', 3015), ('of', 1564), ('a', 1136), ('and', 1097)]

# DERS 03

In [1]:
# Importing Spark Session and SparkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext

# Definition of a SparkContext
SparkContext.getOrCreate() 

# Definition of a SparkSession
spark = SparkSession \
    .builder \
    .master("local") \
    .appName("Introduction to DataFrame") \
    .getOrCreate()
    
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/04 20:35:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Creating a shortcut to the SparkContext already created
sc = SparkContext.getOrCreate()
sc

## Import Row, create DF

In [4]:
'''
Import the Row structure from the module pyspark.sql
Import the database 2008_raw.csv
Create a rdd from this database
Create a rdd_row using the map method, applying on each line the structure Row with the explanatory variables year, month, day and flightNum
Create a DataFrame df from rdd_row
'''

path = "/Users/macbook/Desktop/IBM/DataScientest_Datalar"

# Importing Row from the pyspark.sql package
from pyspark.sql import Row

# Loading the file '2008_raw.csv'
rdd = sc.textFile(f'file:///{path}/2008.csv').map(lambda line: line.split(","))

# Creating a new rdd by selecting the explanatory variables
rdd_row = rdd.map(lambda line: Row(year = line[0],
                                   month = line[1],
                                   day = line[2],
                                   flightNum = line[5]))

# Creating a data frame from an rdd
df = spark.createDataFrame(rdd_row)


# Display of the first 5 lines
df.show(5)

23/06/04 20:39:02 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 1 (TID 1): Attempting to kill Python Worker

+----+-----+---+---------+
|year|month|day|flightNum|
+----+-----+---+---------+
|2008|    1|  1|     2052|
|2008|    1|  1|      715|
|2008|    1|  1|     1846|
|2008|    1|  1|     2300|
|2008|    1|  1|     1221|
+----+-----+---+---------+
only showing top 5 rows

## Reading csv file, printSchema

In [8]:
# Reading the file '2008.csv'
raw_df = spark.read.csv(f'file:///{path}/2008.csv', header=False)

# Display of the variables' schema
raw_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)

In [44]:
raw_df.show(15)

+----+---+---+---+----+----+----+----+---+---+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
| _c0|_c1|_c2|_c3| _c4| _c5| _c6| _c7|_c8|_c9|  _c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|_c27|_c28|
+----+---+---+---+----+----+----+----+---+---+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|2008|  1|  1|  2|2057|2052|2312|2258| AS|324|N306AS| 135| 126| 112|  14|   5| SEA| SJC| 697|   7|  16|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2| 703| 715| 958| 951| AS|572|N302AS| 175| 156| 144|   7| -12| SEA| PSP| 987|   6|  25|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|2011|1846|2248|2145| AS|511|N564AS| 157| 179| 136|  63|  85| SAN| SEA|1050|   7|  14|   0|null|   0|   0|   0|   0|   0|  63|
|2008|  1|  1|  2|2301|2300|2354|2359| AS|376|N309AS|  53|  59|  35|  -5|   1| SEA| GEG| 224|   5|  13|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|1221|1221|1422|1438| AS|729|N317AS| 181| 197| 164| -16|   0| TUS| SEA|1216|   6|  11|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|1843|1840|2110|2125| AS|283|N318AS| 147| 165| 124| -15|   3| LAX| SEA| 954|   7|  16|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|2045|2045|2314|2330| AS|211|N305AS| 149| 165| 126| -16|   0| LAX| SEA| 954|   6|  17|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|  49|  50| 547| 523| AS|100|N315AS| 238| 213| 222|  24|  -1| ANC| PDX|1542|   2|  14|   0|null|   0|   0|   0|  24|   0|   0|
|2008|  1|  1|  2|1719|1715|1939|1956| AS|665|N302AS| 140| 161| 118| -17|   4| LAS| SEA| 866|   8|  14|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2| 613| 630| 815| 844| AS|531|N755AS| 122| 134|  96| -29| -17| SJC| SEA| 697|   7|  19|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2| 753| 720|1125|1103| AS|571|N320AS| 152| 163| 124|  22|  33| SEA| DEN|1024|   5|  23|   0|null|   0|  22|   0|   0|   0|   0|
|2008|  1|  1|  2|null| 205|null| 620| AS|154|N309AS|null| 195|null|null|null| ANC| SEA|1449|null|null|   1|null|   0|null|null|null|null|null|
|2008|  1|  1|  2| 741| 740|1128|1139| AS|728|N317AS| 167| 179| 150| -11|   1| SEA| TUS|1216|   4|  13|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|1702|1530|1941|1804| AS|518|N564AS| 159| 154| 142|  97|  92| SEA| SAN|1050|   2|  15|   0|null|   0|  92|   0|   5|   0|   0|
|2008|  1|  1|  2|1306|1245|1551|1525| AS|580|N307AS| 165| 160| 142|  26|  21| SEA| SAN|1050|   2|  21|   0|null|   0|  21|   0|   5|   0|   0|
+----+---+---+---+----+----+----+----+---+---+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 15 rows

In [35]:
# Creating a new rdd by selecting the explanatory variables
rdd_row = rdd.map(lambda line: Row(year = line[0],
                                   month = line[1],
                                   day = line[2],
                                   hour = line[4],
                                   flightNum = line[9],
                                   tailNum = line[10],
                                   origin = line[16],
                                   dest = line[17],
                                   dist = line[18],
                                   canceled = line[21]
                                ))

rdd_row.take(2)

df = spark.createDataFrame(rdd_row)

df.show(2)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|2008|    1|  1|2057|      324| N306AS|   SEA| SJC| 697|       0|
|2008|    1|  1| 703|      572| N302AS|   SEA| PSP| 987|       0|
+----+-----+---+----+---------+-------+------+----+----+--------+
only showing top 2 rows

23/06/04 21:09:51 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 40 (TID 42): Attempting to kill Python Worker

In [36]:
df.printSchema()

root
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- flightNum: string (nullable = true)
 |-- tailNum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- dist: string (nullable = true)
 |-- canceled: string (nullable = true)

## change col type 01

In [38]:
from pyspark.sql.functions import col

integerColumns = integerList = ['year', 'month', 'day', 'flightNum', 'dist', 'canceled' ]

stringColumns = ['tailNum','origin', 'dest']

# integerColumns listesindeki sÃ¼tunlarÄ± integer tipine dÃ¶nÃ¼ÅŸtÃ¼rmek
for col_name in integerColumns:
    df = df.withColumn(col_name, col(col_name).cast("int"))

# stringColumns tuple'Ä±ndaki sÃ¼tunlarÄ± string tipine dÃ¶nÃ¼ÅŸtÃ¼rmek
for col_name in stringColumns:
    df = df.withColumn(col_name, col(col_name).cast("string"))
    
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- flightNum: integer (nullable = true)
 |-- tailNum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- dist: integer (nullable = true)
 |-- canceled: integer (nullable = true)

## change col type 02

In [ ]:
# Creating a data frame by specifying the type of columns
flights = raw_df.select(raw_df.year.cast("int"),
                        raw_df.month.cast("int"),
                        raw_df.day.cast("int"),
                        raw_df.flightNum.cast("int"),
                        raw_df.origin.cast("string"),
                        raw_df.dest.cast("string"),
                        raw_df.distance.cast("int"),
                        raw_df.canceled.cast("boolean"),
                        raw_df.cancellationCode.cast("string"),
                        raw_df.carrierDelay.cast("int"))

# Display of 20 first lines
flights.show()

## describe , toPandas

In [39]:
# Displaying a summary using the truncate option of the show method
df.describe().show(truncate = 8)

### Second method
# Displaying a summary using the method toPandas
df.describe().toPandas()

+-------+--------+--------+--------+--------+---------+-------+------+------+--------+--------+
|summary|    year|   month|     day|    hour|flightNum|tailNum|origin|  dest|    dist|canceled|
+-------+--------+--------+--------+--------+---------+-------+------+------+--------+--------+
|  count|  151102|  151102|  151102|  151102|   151102| 151102|151102|151102|  151102|  151102|
|   mean|  2008.0|6.414...|15.70...|1333....| 336.7...|   null|  null|  null|957.9...|0.014...|
| stddev|1.136...|3.372...|8.794...|511.2...| 235.5...|   null|  null|  null|598.6...|0.118...|
|    min|    2008|       1|       1|       1|        1| N302AS|   ADK|   ADK|      31|       0|
|    max|    2008|      12|      31|      NA|      997| N982AS|   YAK|   YAK|    2846|       1|
+-------+--------+--------+--------+--------+---------+-------+------+------+--------+--------+

,summary,year,month,day,hour,flightNum,tailNum,origin,dest,dist,canceled
0,count,151102,151102,151102,151102,151102,151102,151102,151102,151102,151102
1,mean,2008.0,6.414633823509947,15.70080475440431,1333.6065953390969,336.75316011700704,None,None,None,957.9093526227317,0.014156000582388056
2,stddev,1.1368673191536325E-13,3.372586753808719,8.79497003328945,511.2859647572262,235.5397135668841,None,None,None,598.6289977832145,0.11813424816440472
3,min,2008,1,1,1,1,N302AS,ADK,ADK,31,0
4,max,2008,12,31,NA,997,N982AS,YAK,YAK,2846,1

## distinct

In [32]:
# Calculation of the number of flights with separate flight numbers
df.select('flightNum').distinct().count()

681

## groupBy

In [40]:
# Display of the summary of the category variable "cancellationCode".

df.groupBy('canceled').count().show()

+--------+------+
|canceled| count|
+--------+------+
|       1|  2139|
|       0|148963|
+--------+------+

## filter

In [46]:
df.filter(df.canceled == 1).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|2008|    1|  1|  NA|      154| N309AS|   ANC| SEA|1449|       1|
|2008|    1|  1|  NA|      327| N792AS|   SNA| PDX| 859|       1|
|2008|    1|  1|  NA|      488| N792AS|   PDX| SNA| 859|       1|
|2008|    1|  1|  NA|      464| N960AS|   SEA| ONT| 956|       1|
|2008|    1|  1|  NA|      631| N962AS|   LAS| SEA| 866|       1|
+----+-----+---+----+---------+-------+------+----+----+--------+
only showing top 5 rows

23/06/04 21:13:47 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 55 (TID 57): Attempting to kill Python Worker

## filter, groupBy, count, orderBy

In [50]:
df.filter(df.canceled == 1).groupBy('month').count().orderBy('count').show()

+-----+-----+
|month|count|
+-----+-----+
|   11|   65|
|    9|   67|
|    3|   85|
|   10|   93|
|    7|   98|
|    6|  104|
|    5|  127|
|    8|  154|
|    4|  158|
|    2|  206|
|    1|  355|
|   12|  627|
+-----+-----+

## withColumn

In [63]:
# Creation of a new variable "isLongFlight" and display of the first 10 lines

df.withColumn('isLongFlight', df.dist > 1000).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+------------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|isLongFlight|
+----+-----+---+----+---------+-------+------+----+----+--------+------------+
|2008|    1|  1|2057|      324| N306AS|   SEA| SJC| 697|       0|       false|
|2008|    1|  1| 703|      572| N302AS|   SEA| PSP| 987|       0|       false|
|2008|    1|  1|2011|      511| N564AS|   SAN| SEA|1050|       0|        true|
|2008|    1|  1|2301|      376| N309AS|   SEA| GEG| 224|       0|       false|
|2008|    1|  1|1221|      729| N317AS|   TUS| SEA|1216|       0|        true|
+----+-----+---+----+---------+-------+------+----+----+--------+------------+
only showing top 5 rows

23/06/05 03:58:06 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 73 (TID 75): Attempting to kill Python Worker

In [72]:
df.count()

151102

In [71]:
df.filter( df.dist > 1000).count()

46574

## fillna

df.fillna( newValue, 'columnName')

In [62]:
df.filter(df.hour.isNull()).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
+----+-----+---+----+---------+-------+------+----+----+--------+

In [77]:
from pyspark.sql.functions import col, when

# Convert 'NA' values to NULL in the 'hour' column
df = df.withColumn('hour', when(col('hour') == 'NA', None).otherwise(col('hour').cast('integer')))

# Filter rows where 'hour' is NULL and show the first 5 rows
df.filter(df.hour.isNull()).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|2008|    1|  1|null|      154| N309AS|   ANC| SEA|1449|       1|
|2008|    1|  1|null|      327| N792AS|   SNA| PDX| 859|       1|
|2008|    1|  1|null|      488| N792AS|   PDX| SNA| 859|       1|
|2008|    1|  1|null|      464| N960AS|   SEA| ONT| 956|       1|
|2008|    1|  1|null|      631| N962AS|   LAS| SEA| 866|       1|
+----+-----+---+----+---------+-------+------+----+----+--------+
only showing top 5 rows

23/06/05 04:09:55 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 87 (TID 89): Attempting to kill Python Worker

## replace

df.replace(oldValue, newValue)
replaces on the whole database

df.replace(oldValue, newValue, 'columnName')
replaces only on the specified columns

df.replace([oldValue1, oldValue2], [newValue1, newValue2], 'columnName')
if several values to be replaced

In [ ]:
## Replace, in order, the cancellation codes 'A','B','C' with '1', '2', '3'

df.replace(['A', 'B', 'C'], [1, 2, 3], ')

## order by

df.orderBy(df.age)
ordered by the variable 'age'

df.orderBy(df.age.desc())
order in decreasing order

In [79]:
# Display the first lines of the database ordered in decreasing order by flight number

df.orderBy(df.flightNum.desc()).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|2008|    8| 29|1255|      997| N708AS|   SEA| ANC|1449|       0|
|2008|    6|  7|2057|      996| N562AS|   SEA| GEG| 224|       0|
|2008|    8| 25| 800|      991| N570AS|   DEN| SEA|1024|       0|
|2008|    7| 31| 805|      991| N562AS|   DEN| SEA|1024|       0|
|2008|    4| 27| 736|      989| N557AS|   SFO| SEA| 679|       0|
+----+-----+---+----+---------+-------+------+----+----+--------+
only showing top 5 rows

## SQL Queries

df.createOrReplaceTempView("people")
sqlDF = spark.sql("SELECT * FROM people")

In [85]:
# Creating an SQL view
df.createOrReplaceTempView("flightsView")

# Creating a data frame containing only the variable "carrierDelay"
sqlDF = spark.sql("SELECT origin FROM flightsView")

# Display of the first 10 lines
sqlDF.show(10)

+------+
|origin|
+------+
|   SEA|
|   SEA|
|   SAN|
|   SEA|
|   TUS|
|   LAX|
|   LAX|
|   ANC|
|   LAS|
|   SJC|
+------+
only showing top 10 rows

23/06/05 04:28:01 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 90 (TID 94): Attempting to kill Python Worker

## sample

withRemplacement : a Boolean to specify False if you don't want to overwrite the DataFrame
fraction : the fraction of data to be kept
seed : an integer that allows the results to be reproduced: for the same seed, a function, although random, will always give the same results

In [89]:
# Display of about ten lines of the database
df.sample(False, .00006, seed = 222).toPandas()

    year  month  day  hour  flightNum tailNum origin dest  dist  canceled
0   2008      1   30  2028        310  N706AS    PDX  SFO   550         0
1   2008      2    1    16        191  N772AS    ANC  FAI   261         0
2   2008      3   24   818         31  N784AS    ADQ  ANC   252         0
3   2008      3   28  1339          6  N590AS    LAX  DCA  2311         0
4   2008      6   15  2130        313  N564AS    SFO  SEA   679         0
5   2008      6   22  1034        184  N648AS    FAI  ANC   261         0
6   2008      7   15  1351         62  N783AS    KTN  SEA   680         0
7   2008      9   30  2220         70  N613AS    JNU  SIT    95         0
8   2008     10   22  2013        614  N317AS    SEA  LAS   866         0
9   2008     10   25  1819         19  N558AS    MCO  SEA  2553         0
10  2008     12    6   628        335  N778AS    SJC  SEA   697         0

## sc.stop

In [ ]:
# Closing SparkContextb
sc.stop()

# RECAP

In [ ]:
# RECAP 

# Importing SparkContext from the pyspark module
from pyspark import SparkContext

# Defining a SparkContext locally
sc = SparkContext('local')
sc


#Reading the file "2008_raw.csv"
raw_rdd = sc.textFile(f"file:///{path}/2008.csv")


# take 5 rows
raw_rdd.take(5)


# collect all
raw_rdd.collect()


# count
# calculation of the number of lines 
count = raw_rdd.count()


# map func
hist_rdd = airplane_rdd.map(lambda line: (line[7], 1))
hist_raw_rdd = raw_rdd.map(lambda line_string: (line_string[0:10], 1))
print("hist_rdd = ", hist_rdd.take(3))
print("hist_raw_rdd = ", hist_raw_rdd.take(3))


# collect (create list)
# Creating a list from an rdd
hist = hist_rdd.collect()


# sorted
# ASC increasingâ‰ˆ (reverse = 0) # DESC decreasing (reverse = 1) 
hist_sorted  = sorted(hist, key= lambda x: x[0], reverse= 1)
print(hist_rdd[:5])


# sortBY
hist_sorted_2 = hist.sortBy(lambda couple: couple[1], ascending = True) \
                    .collect()


# split 
# Creating an rdd whose lines are a list of raw_rdd elements 
airplane_rdd = raw_rdd.map(lambda line: line.split(","))


# Calculation and display of the number of cancelled flights by city of origin
airplane_rdd \
    .filter(lambda x: x[10] == "1") \
    .map(lambda x: (x[8], 1)) \
    .reduceByKey(lambda x,y: x+y) \
    .collect()