''' Pyspark '''

In [1]:
import warnings
warnings.simplefilter(action='ignore')

'''Pyspark Deneme'''

In [2]:
import pyspark
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[*]") \
                    .appName('BigData-ETL.com') \
                    .getOrCreate()

print(f'The PySpark {spark.version} version is running...')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/04 09:52:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

The PySpark 3.4.0 version is running...

# Pysaprk DataScientest Ders01 - Big data processing with Pyspark

# DERS 01

## Introduction to PySpark

In [2]:
# Importing SparkContext from the pyspark module
from pyspark import SparkContext

# Defining a SparkContext locally
sc = SparkContext('local')
sc

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/04 10:15:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# Import the time library and calculation of time at the beginning of the execution (t0)
path = "/Users/macbook/Desktop/IBM/DataScientest_Datalar"

from time import time
t0 = time()

#Reading the file "2008_raw.csv"
raw_rdd = sc.textFile(f"file:///{path}/2008.csv")
#raw_rdd = sc.textFile(f"/{path}/2008.csv") ==> Hata veriyor file:/// eklemezsen 

# Calculation of file reading time
t1 = time() - t0
print("Done in {} seconds".format(round(t1,3)))

Done in 0.784 seconds

In [4]:
# Calculation of time at the beginning of execution (t0)
t0 = time()

### Insert your code here
raw_rdd.take(5)

### Do not change the code below
# Calculation of the time of display of the 5 elements
t1 = time() - t0
print("Done in {} seconds".format(round(t1,3)))
raw_rdd.take(5)

Done in 2.192 seconds

['2008,1,1,2,2057,2052,2312,2258,AS,324,N306AS,135,126,112,14,5,SEA,SJC,697,7,16,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,703,715,958,951,AS,572,N302AS,175,156,144,7,-12,SEA,PSP,987,6,25,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,2011,1846,2248,2145,AS,511,N564AS,157,179,136,63,85,SAN,SEA,1050,7,14,0,,0,0,0,0,0,63',
 '2008,1,1,2,2301,2300,2354,2359,AS,376,N309AS,53,59,35,-5,1,SEA,GEG,224,5,13,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,1221,1221,1422,1438,AS,729,N317AS,181,197,164,-16,0,TUS,SEA,1216,6,11,0,,0,NA,NA,NA,NA,NA']

In [6]:
# calculation of the number of lines 
count = raw_rdd.count()
count

151102

In [34]:
# Creating an rdd whose lines are a list of raw_rdd elements 
airplane_rdd = raw_rdd.map(lambda line: line.split(","))

# Display of the first line of the rdd
airplane_rdd.take(1)

[['2008',
  '1',
  '1',
  '2',
  '2057',
  '2052',
  '2312',
  '2258',
  'AS',
  '324',
  'N306AS',
  '135',
  '126',
  '112',
  '14',
  '5',
  'SEA',
  'SJC',
  '697',
  '7',
  '16',
  '0',
  '',
  '0',
  'NA',
  'NA',
  'NA',
  'NA',
  'NA']]

## Map, reduceByKey

In [8]:
# Creating a new rdd by summarizing the lines by the departure airport
hist_rdd = airplane_rdd.map(lambda x: (x[7], 1)).reduceByKey(lambda x,y: x+y)

# Display of the first 5 lines 
hist_rdd.take(5)

[('2258', 89), ('951', 156), ('2145', 314), ('2359', 223), ('1438', 106)]

In [10]:
# Step 02
print(raw_rdd.take(1))

['2008,1,1,2,2057,2052,2312,2258,AS,324,N306AS,135,126,112,14,5,SEA,SJC,697,7,16,0,,0,NA,NA,NA,NA,NA']

In [11]:
# Step 03
hist_rdd = airplane_rdd.map(lambda line: (line[7], 1))
hist_raw_rdd = raw_rdd.map(lambda line_string: (line_string[0:10], 1))
print("hist_rdd = ", hist_rdd.take(3))
print("hist_raw_rdd = ", hist_raw_rdd.take(3))

hist_rdd =  [('2258', 1), ('951', 1), ('2145', 1)]
hist_raw_rdd =  [('2008,1,1,2', 1), ('2008,1,1,2', 1), ('2008,1,1,2', 1)]

In [12]:
# Step 04
sil = raw_rdd.map(lambda line: (line[0:5]))
sil.take(5)

['2008,', '2008,', '2008,', '2008,', '2008,']

In [ ]:
## collect

In [15]:
# Insert your code here
hist_rdd.collect()[:5]

[('2258', 1), ('951', 1), ('2145', 1), ('2359', 1), ('1438', 1)]

## sorted ,reverse

In [23]:
# sorting data in decreasing order
# Creating a list from an rdd
hist = hist_rdd.collect()

# display of the entire list
print(hist[:5])

sorted(hist[:10], key= lambda x: x[0], reverse= 1)

[('2258', 1), ('951', 1), ('2145', 1), ('2359', 1), ('1438', 1)]

[('951', 1),
 ('844', 1),
 ('523', 1),
 ('2359', 1),
 ('2330', 1),
 ('2258', 1),
 ('2145', 1),
 ('2125', 1),
 ('1956', 1),
 ('1438', 1)]

## filter, map, reduceByKey, collect

In [37]:
# Creating an rdd whose lines are a list of raw_rdd elements 
airplane_rdd = raw_rdd.map(lambda line: line.split(","))

# Calculation and display of the number of cancelled flights by city of origin
airplane_rdd \
    .filter(lambda x: x[10] == "1") \
    .map(lambda x: (x[8], 1)) \
    .reduceByKey(lambda x,y: x+y) \
    .collect()

[]

In [30]:
airplane_rdd \
    .filter(lambda x: x[10] == "1") \
    .collect()

[]

In [40]:
airplane_rdd.take(1)

[['2008',
  '1',
  '1',
  '2',
  '2057',
  '2052',
  '2312',
  '2258',
  'AS',
  '324',
  'N306AS',
  '135',
  '126',
  '112',
  '14',
  '5',
  'SEA',
  'SJC',
  '697',
  '7',
  '16',
  '0',
  '',
  '0',
  'NA',
  'NA',
  'NA',
  'NA',
  'NA']]

# DERS 02

In [73]:
miserables = sc.textFile(f"file:///{path}/miserable_full.txt")
miserables.take(5)

["'LES MISÉRABLES',",
 " 'VOLUME I.-FANTINE.',",
 " 'PREFACE',",
 " 'So long as there shall exist, by virtue of law and custom, decrees of damnation pronounced by society, artificially creating hells amid the civilization of earth, and adding the element of human fate to divine destiny ; so long as the three great problems of the century-the degradation of man through pauperism, the corruption of woman through hunger, the crippling of children through lack of light-are unsolved ; so long as social asphyxia is possible in any part of the world ;-in other words, and with a still wider significance, so long as ignorance and poverty exist on earth, books of the nature of Les Misérables cannot fail to be of use.',",
 " 'HAUTEVILLE HOUSE, 1862.',"]

## replace

In [69]:
miserables_clean = miserables.map(lambda x : x.lower().replace(',', ' ')\
                                  .replace('.', ' ')\
                                  .replace('-', ' ')\
                                  .replace('\'', ' '))
miserables_clean.take(5)

[' les misérables  ',
 '  volume i  fantine   ',
 '  preface  ',
 '  so long as there shall exist  by virtue of law and custom  decrees of damnation pronounced by society  artificially creating hells amid the civilization of earth  and adding the element of human fate to divine destiny ; so long as the three great problems of the century the degradation of man through pauperism  the corruption of woman through hunger  the crippling of children through lack of light are unsolved ; so long as social asphyxia is possible in any part of the world ; in other words  and with a still wider significance  so long as ignorance and poverty exist on earth  books of the nature of les misérables cannot fail to be of use   ',
 '  hauteville house  1862   ']

## flatMap

In [70]:
miserables_flat = miserables_clean.flatMap(lambda line: line.split(" "))
print("miserables_flat count = ", miserables_flat.count())
print("miserables count =", miserables.count())

miserables_flat count =  54702
miserables count = 1001

In [71]:
words = miserables_flat.map(lambda x : (x, 1)) \
                        .reduceByKey(lambda x,y : x+y) \
                        .collect()

sorted(words, key=lambda x: x[1], reverse=1)[:5]

[('', 10405), ('the', 3015), ('of', 1564), ('a', 1136), ('and', 1097)]

## all func. in one code

In [72]:
#Direct creation of a list containing the words
words_sorted_3 =  sc.textFile(f"file:///{path}/miserable_full.txt") \
                    .map(lambda x : x.lower().replace(',', ' ').replace('.', ' ').replace('-', ' ').replace('\'', ' ').replace('\\', ' ')) \
                    .flatMap(lambda line : line.split(" ")) \
                    .map(lambda x : (x,1)) \
                    .reduceByKey(lambda x,y : x+y) \
                    .sortBy(lambda couple: couple[1], ascending = False) \

words_sorted_3.collect()[:5]

[('', 10405), ('the', 3015), ('of', 1564), ('a', 1136), ('and', 1097)]

# DERS 03

In [1]:
# Importing Spark Session and SparkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext

# Definition of a SparkContext
SparkContext.getOrCreate() 

# Definition of a SparkSession
spark = SparkSession \
    .builder \
    .master("local") \
    .appName("Introduction to DataFrame") \
    .getOrCreate()
    
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/04 20:35:42 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
# Creating a shortcut to the SparkContext already created
sc = SparkContext.getOrCreate()
sc

## Import Row, create DF

In [4]:
'''
Import the Row structure from the module pyspark.sql
Import the database 2008_raw.csv
Create a rdd from this database
Create a rdd_row using the map method, applying on each line the structure Row with the explanatory variables year, month, day and flightNum
Create a DataFrame df from rdd_row
'''

path = "/Users/macbook/Desktop/IBM/DataScientest_Datalar"

# Importing Row from the pyspark.sql package
from pyspark.sql import Row

# Loading the file '2008_raw.csv'
rdd = sc.textFile(f'file:///{path}/2008.csv').map(lambda line: line.split(","))

# Creating a new rdd by selecting the explanatory variables
rdd_row = rdd.map(lambda line: Row(year = line[0],
                                   month = line[1],
                                   day = line[2],
                                   flightNum = line[5]))

# Creating a data frame from an rdd
df = spark.createDataFrame(rdd_row)


# Display of the first 5 lines
df.show(5)

23/06/04 20:39:02 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 1 (TID 1): Attempting to kill Python Worker

+----+-----+---+---------+
|year|month|day|flightNum|
+----+-----+---+---------+
|2008|    1|  1|     2052|
|2008|    1|  1|      715|
|2008|    1|  1|     1846|
|2008|    1|  1|     2300|
|2008|    1|  1|     1221|
+----+-----+---+---------+
only showing top 5 rows

## Reading csv file, printSchema

In [8]:
# Reading the file '2008.csv'
raw_df = spark.read.csv(f'file:///{path}/2008.csv', header=False)

# Display of the variables' schema
raw_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)
 |-- _c13: string (nullable = true)
 |-- _c14: string (nullable = true)
 |-- _c15: string (nullable = true)
 |-- _c16: string (nullable = true)
 |-- _c17: string (nullable = true)
 |-- _c18: string (nullable = true)
 |-- _c19: string (nullable = true)
 |-- _c20: string (nullable = true)
 |-- _c21: string (nullable = true)
 |-- _c22: string (nullable = true)
 |-- _c23: string (nullable = true)
 |-- _c24: string (nullable = true)
 |-- _c25: string (nullable = true)
 |-- _c26: string (nullable = true)
 |-- _c27: string (nullable = true)
 |-- _c28: string (nullable = true)

In [44]:
raw_df.show(15)

+----+---+---+---+----+----+----+----+---+---+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
| _c0|_c1|_c2|_c3| _c4| _c5| _c6| _c7|_c8|_c9|  _c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|_c27|_c28|
+----+---+---+---+----+----+----+----+---+---+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|2008|  1|  1|  2|2057|2052|2312|2258| AS|324|N306AS| 135| 126| 112|  14|   5| SEA| SJC| 697|   7|  16|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2| 703| 715| 958| 951| AS|572|N302AS| 175| 156| 144|   7| -12| SEA| PSP| 987|   6|  25|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|2011|1846|2248|2145| AS|511|N564AS| 157| 179| 136|  63|  85| SAN| SEA|1050|   7|  14|   0|null|   0|   0|   0|   0|   0|  63|
|2008|  1|  1|  2|2301|2300|2354|2359| AS|376|N309AS|  53|  59|  35|  -5|   1| SEA| GEG| 224|   5|  13|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|1221|1221|1422|1438| AS|729|N317AS| 181| 197| 164| -16|   0| TUS| SEA|1216|   6|  11|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|1843|1840|2110|2125| AS|283|N318AS| 147| 165| 124| -15|   3| LAX| SEA| 954|   7|  16|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|2045|2045|2314|2330| AS|211|N305AS| 149| 165| 126| -16|   0| LAX| SEA| 954|   6|  17|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|  49|  50| 547| 523| AS|100|N315AS| 238| 213| 222|  24|  -1| ANC| PDX|1542|   2|  14|   0|null|   0|   0|   0|  24|   0|   0|
|2008|  1|  1|  2|1719|1715|1939|1956| AS|665|N302AS| 140| 161| 118| -17|   4| LAS| SEA| 866|   8|  14|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2| 613| 630| 815| 844| AS|531|N755AS| 122| 134|  96| -29| -17| SJC| SEA| 697|   7|  19|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2| 753| 720|1125|1103| AS|571|N320AS| 152| 163| 124|  22|  33| SEA| DEN|1024|   5|  23|   0|null|   0|  22|   0|   0|   0|   0|
|2008|  1|  1|  2|null| 205|null| 620| AS|154|N309AS|null| 195|null|null|null| ANC| SEA|1449|null|null|   1|null|   0|null|null|null|null|null|
|2008|  1|  1|  2| 741| 740|1128|1139| AS|728|N317AS| 167| 179| 150| -11|   1| SEA| TUS|1216|   4|  13|   0|null|   0|null|null|null|null|null|
|2008|  1|  1|  2|1702|1530|1941|1804| AS|518|N564AS| 159| 154| 142|  97|  92| SEA| SAN|1050|   2|  15|   0|null|   0|  92|   0|   5|   0|   0|
|2008|  1|  1|  2|1306|1245|1551|1525| AS|580|N307AS| 165| 160| 142|  26|  21| SEA| SAN|1050|   2|  21|   0|null|   0|  21|   0|   5|   0|   0|
+----+---+---+---+----+----+----+----+---+---+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 15 rows

In [35]:
# Creating a new rdd by selecting the explanatory variables
rdd_row = rdd.map(lambda line: Row(year = line[0],
                                   month = line[1],
                                   day = line[2],
                                   hour = line[4],
                                   flightNum = line[9],
                                   tailNum = line[10],
                                   origin = line[16],
                                   dest = line[17],
                                   dist = line[18],
                                   canceled = line[21]
                                ))

rdd_row.take(2)

df = spark.createDataFrame(rdd_row)

df.show(2)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|2008|    1|  1|2057|      324| N306AS|   SEA| SJC| 697|       0|
|2008|    1|  1| 703|      572| N302AS|   SEA| PSP| 987|       0|
+----+-----+---+----+---------+-------+------+----+----+--------+
only showing top 2 rows

23/06/04 21:09:51 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 40 (TID 42): Attempting to kill Python Worker

In [36]:
df.printSchema()

root
 |-- year: string (nullable = true)
 |-- month: string (nullable = true)
 |-- day: string (nullable = true)
 |-- hour: string (nullable = true)
 |-- flightNum: string (nullable = true)
 |-- tailNum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- dist: string (nullable = true)
 |-- canceled: string (nullable = true)

## change col type 01

In [38]:
from pyspark.sql.functions import col

integerColumns = integerList = ['year', 'month', 'day', 'flightNum', 'dist', 'canceled' ]

stringColumns = ['tailNum','origin', 'dest']

# integerColumns listesindeki sütunları integer tipine dönüştürmek
for col_name in integerColumns:
    df = df.withColumn(col_name, col(col_name).cast("int"))

# stringColumns tuple'ındaki sütunları string tipine dönüştürmek
for col_name in stringColumns:
    df = df.withColumn(col_name, col(col_name).cast("string"))
    
df.printSchema()

root
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- hour: string (nullable = true)
 |-- flightNum: integer (nullable = true)
 |-- tailNum: string (nullable = true)
 |-- origin: string (nullable = true)
 |-- dest: string (nullable = true)
 |-- dist: integer (nullable = true)
 |-- canceled: integer (nullable = true)

## change col type 02

In [ ]:
# Creating a data frame by specifying the type of columns
flights = raw_df.select(raw_df.year.cast("int"),
                        raw_df.month.cast("int"),
                        raw_df.day.cast("int"),
                        raw_df.flightNum.cast("int"),
                        raw_df.origin.cast("string"),
                        raw_df.dest.cast("string"),
                        raw_df.distance.cast("int"),
                        raw_df.canceled.cast("boolean"),
                        raw_df.cancellationCode.cast("string"),
                        raw_df.carrierDelay.cast("int"))

# Display of 20 first lines
flights.show()

## describe , toPandas

In [39]:
# Displaying a summary using the truncate option of the show method
df.describe().show(truncate = 8)

### Second method
# Displaying a summary using the method toPandas
df.describe().toPandas()

+-------+--------+--------+--------+--------+---------+-------+------+------+--------+--------+
|summary|    year|   month|     day|    hour|flightNum|tailNum|origin|  dest|    dist|canceled|
+-------+--------+--------+--------+--------+---------+-------+------+------+--------+--------+
|  count|  151102|  151102|  151102|  151102|   151102| 151102|151102|151102|  151102|  151102|
|   mean|  2008.0|6.414...|15.70...|1333....| 336.7...|   null|  null|  null|957.9...|0.014...|
| stddev|1.136...|3.372...|8.794...|511.2...| 235.5...|   null|  null|  null|598.6...|0.118...|
|    min|    2008|       1|       1|       1|        1| N302AS|   ADK|   ADK|      31|       0|
|    max|    2008|      12|      31|      NA|      997| N982AS|   YAK|   YAK|    2846|       1|
+-------+--------+--------+--------+--------+---------+-------+------+------+--------+--------+

,summary,year,month,day,hour,flightNum,tailNum,origin,dest,dist,canceled
0,count,151102,151102,151102,151102,151102,151102,151102,151102,151102,151102
1,mean,2008.0,6.414633823509947,15.70080475440431,1333.6065953390969,336.75316011700704,None,None,None,957.9093526227317,0.014156000582388056
2,stddev,1.1368673191536325E-13,3.372586753808719,8.79497003328945,511.2859647572262,235.5397135668841,None,None,None,598.6289977832145,0.11813424816440472
3,min,2008,1,1,1,1,N302AS,ADK,ADK,31,0
4,max,2008,12,31,NA,997,N982AS,YAK,YAK,2846,1

## distinct

In [32]:
# Calculation of the number of flights with separate flight numbers
df.select('flightNum').distinct().count()

681

## groupBy

In [40]:
# Display of the summary of the category variable "cancellationCode".

df.groupBy('canceled').count().show()

+--------+------+
|canceled| count|
+--------+------+
|       1|  2139|
|       0|148963|
+--------+------+

## filter

In [46]:
df.filter(df.canceled == 1).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|2008|    1|  1|  NA|      154| N309AS|   ANC| SEA|1449|       1|
|2008|    1|  1|  NA|      327| N792AS|   SNA| PDX| 859|       1|
|2008|    1|  1|  NA|      488| N792AS|   PDX| SNA| 859|       1|
|2008|    1|  1|  NA|      464| N960AS|   SEA| ONT| 956|       1|
|2008|    1|  1|  NA|      631| N962AS|   LAS| SEA| 866|       1|
+----+-----+---+----+---------+-------+------+----+----+--------+
only showing top 5 rows

23/06/04 21:13:47 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 55 (TID 57): Attempting to kill Python Worker

## filter, groupBy, count, orderBy

In [50]:
df.filter(df.canceled == 1).groupBy('month').count().orderBy('count').show()

+-----+-----+
|month|count|
+-----+-----+
|   11|   65|
|    9|   67|
|    3|   85|
|   10|   93|
|    7|   98|
|    6|  104|
|    5|  127|
|    8|  154|
|    4|  158|
|    2|  206|
|    1|  355|
|   12|  627|
+-----+-----+

## withColumn

In [63]:
# Creation of a new variable "isLongFlight" and display of the first 10 lines

df.withColumn('isLongFlight', df.dist > 1000).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+------------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|isLongFlight|
+----+-----+---+----+---------+-------+------+----+----+--------+------------+
|2008|    1|  1|2057|      324| N306AS|   SEA| SJC| 697|       0|       false|
|2008|    1|  1| 703|      572| N302AS|   SEA| PSP| 987|       0|       false|
|2008|    1|  1|2011|      511| N564AS|   SAN| SEA|1050|       0|        true|
|2008|    1|  1|2301|      376| N309AS|   SEA| GEG| 224|       0|       false|
|2008|    1|  1|1221|      729| N317AS|   TUS| SEA|1216|       0|        true|
+----+-----+---+----+---------+-------+------+----+----+--------+------------+
only showing top 5 rows

23/06/05 03:58:06 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 73 (TID 75): Attempting to kill Python Worker

In [72]:
df.count()

151102

In [71]:
df.filter( df.dist > 1000).count()

46574

## fillna

df.fillna( newValue, 'columnName')

In [62]:
df.filter(df.hour.isNull()).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
+----+-----+---+----+---------+-------+------+----+----+--------+

## when, otherwise

In [77]:
from pyspark.sql.functions import col, when

# Convert 'NA' values to NULL in the 'hour' column
df = df.withColumn('hour', when(col('hour') == 'NA', None).otherwise(col('hour').cast('integer')))

# Filter rows where 'hour' is NULL and show the first 5 rows
df.filter(df.hour.isNull()).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|2008|    1|  1|null|      154| N309AS|   ANC| SEA|1449|       1|
|2008|    1|  1|null|      327| N792AS|   SNA| PDX| 859|       1|
|2008|    1|  1|null|      488| N792AS|   PDX| SNA| 859|       1|
|2008|    1|  1|null|      464| N960AS|   SEA| ONT| 956|       1|
|2008|    1|  1|null|      631| N962AS|   LAS| SEA| 866|       1|
+----+-----+---+----+---------+-------+------+----+----+--------+
only showing top 5 rows

23/06/05 04:09:55 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 87 (TID 89): Attempting to kill Python Worker

## isna().sum()

kolonlarin Null deger toplamini bulma

In [90]:
from pyspark.sql.functions import col, sum as spark_sum

# Toplam NULL değer içeren sütunları bulma
null_counts = df.select([spark_sum(col(c).isNull().cast('integer')).alias(c) for c in df.columns])

# Sonuçları gösterme
null_counts.show()

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|   0|    0|  0|2118|        0|      0|     0|   0|   0|       0|
+----+-----+---+----+---------+-------+------+----+----+--------+

## replace

df.replace(oldValue, newValue)
replaces on the whole database

df.replace(oldValue, newValue, 'columnName')
replaces only on the specified columns

df.replace([oldValue1, oldValue2], [newValue1, newValue2], 'columnName')
if several values to be replaced

In [ ]:
## Replace, in order, the cancellation codes 'A','B','C' with '1', '2', '3'

df.replace(['A', 'B', 'C'], [1, 2, 3], ')

## order by

df.orderBy(df.age)
ordered by the variable 'age'

df.orderBy(df.age.desc())
order in decreasing order

In [79]:
# Display the first lines of the database ordered in decreasing order by flight number

df.orderBy(df.flightNum.desc()).show(5)

+----+-----+---+----+---------+-------+------+----+----+--------+
|year|month|day|hour|flightNum|tailNum|origin|dest|dist|canceled|
+----+-----+---+----+---------+-------+------+----+----+--------+
|2008|    8| 29|1255|      997| N708AS|   SEA| ANC|1449|       0|
|2008|    6|  7|2057|      996| N562AS|   SEA| GEG| 224|       0|
|2008|    8| 25| 800|      991| N570AS|   DEN| SEA|1024|       0|
|2008|    7| 31| 805|      991| N562AS|   DEN| SEA|1024|       0|
|2008|    4| 27| 736|      989| N557AS|   SFO| SEA| 679|       0|
+----+-----+---+----+---------+-------+------+----+----+--------+
only showing top 5 rows

## SQL Queries

df.createOrReplaceTempView("people")
sqlDF = spark.sql("SELECT * FROM people")

In [85]:
# Creating an SQL view
df.createOrReplaceTempView("flightsView")

# Creating a data frame containing only the variable "carrierDelay"
sqlDF = spark.sql("SELECT origin FROM flightsView")

# Display of the first 10 lines
sqlDF.show(10)

+------+
|origin|
+------+
|   SEA|
|   SEA|
|   SAN|
|   SEA|
|   TUS|
|   LAX|
|   LAX|
|   ANC|
|   LAS|
|   SJC|
+------+
only showing top 10 rows

23/06/05 04:28:01 WARN PythonRunner: Detected deadlock while completing task 0.0 in stage 90 (TID 94): Attempting to kill Python Worker

## sample

withRemplacement : a Boolean to specify False if you don't want to overwrite the DataFrame
fraction : the fraction of data to be kept
seed : an integer that allows the results to be reproduced: for the same seed, a function, although random, will always give the same results

In [89]:
# Display of about ten lines of the database
df.sample(False, .00006, seed = 222).toPandas()

    year  month  day  hour  flightNum tailNum origin dest  dist  canceled
0   2008      1   30  2028        310  N706AS    PDX  SFO   550         0
1   2008      2    1    16        191  N772AS    ANC  FAI   261         0
2   2008      3   24   818         31  N784AS    ADQ  ANC   252         0
3   2008      3   28  1339          6  N590AS    LAX  DCA  2311         0
4   2008      6   15  2130        313  N564AS    SFO  SEA   679         0
5   2008      6   22  1034        184  N648AS    FAI  ANC   261         0
6   2008      7   15  1351         62  N783AS    KTN  SEA   680         0
7   2008      9   30  2220         70  N613AS    JNU  SIT    95         0
8   2008     10   22  2013        614  N317AS    SEA  LAS   866         0
9   2008     10   25  1819         19  N558AS    MCO  SEA  2553         0
10  2008     12    6   628        335  N778AS    SJC  SEA   697         0

## sc.stop

In [ ]:
# Closing SparkContextb
sc.stop()

# Recap Intro DataFrame

In [ ]:
# RECAP 

# Importing SparkContext from the pyspark module
from pyspark import SparkContext

# Defining a SparkContext locally
sc = SparkContext('local')
sc

# Definition of a SparkSession
spark = SparkSession \
    .builder \
    .master("local") \
    .appName("Introduction to DataFrame") \
    .getOrCreate()
    
spark

#Reading the file "2008_raw.csv"
raw_rdd = sc.textFile(f"file:///{path}/2008.csv")


# take 5 rows
raw_rdd.take(5)


# collect all
raw_rdd.collect()


# count
# calculation of the number of lines 
count = raw_rdd.count()


# Creating an rdd whose lines are a list of raw_rdd elements 
airplane_rdd = raw_rdd.map(lambda line: line.split(","))


# map func
hist_rdd = airplane_rdd.map(lambda line: (line[7], 1))
print("hist_rdd = ", hist_rdd.take(3))

hist_raw_rdd = raw_rdd.map(lambda line_string: (line_string[0:10], 1))
print("hist_raw_rdd = ", hist_raw_rdd.take(3))


# collect (create list)
# Creating a list from an rdd
hist = hist_rdd.collect()


# sorted
# ASC increasing≈ (reverse = 0) # DESC decreasing (reverse = 1) 
hist_sorted  = sorted(hist, key= lambda x: x[0], reverse= 1)
print(hist_rdd[:5])


# sortBY
hist_sorted_2 = hist.sortBy(lambda couple: couple[1], ascending = True) \
                    .collect()

# split 
# Creating an rdd whose lines are a list of raw_rdd elements 
airplane_rdd = raw_rdd.map(lambda line: line.split(","))


# Calculation and display of the number of cancelled flights by city of origin
airplane_rdd \
    .filter(lambda x: x[10] == "1") \
    .map(lambda x: (x[8], 1)) \
    .reduceByKey(lambda x,y: x+y) \
    .collect()

# Recap ML

In [96]:
# Importing SparkSession and SparkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext


# Defining a SparkContext locally
sc = SparkContext.getOrCreate()


# Building a Spark Session
spark = SparkSession \
    .builder \
    .appName("Introduction to Spark ML") \
    .getOrCreate()
    
spark

pathSD = "/Volumes/SD512/indirilenler_SD_Card/data"

# Loading the file "YearPredictionMSD.txt" into a data frame
df_raw = spark.read.csv(f'file:///{pathSD}/YearPredictionMSD.txt')


# First display method
df_raw.show(2, truncate = 4)
# By modifying the values of 'truncate', this method does not allow a good visualization of the data # by the number of variables

# Second display method
df_raw.sample(False, .00001, seed = 222).toPandas()
# Using toPandas allows you to better visualize the data


# Import of col from package pyspark.sql.functions
from pyspark.sql.functions import col


# Convert columns related to timbre to double and year to int
exprs = [col(c).cast("double") for c in df_raw.columns[1:91]]
df = df_raw.select(df_raw._c0.cast('int'), *exprs)


# display of the variable schema
df.printSchema()


# -------------- LinearRegression ---------------------
# Importing DenseVector from the package pyspark.ml.linalg
from pyspark.ml.linalg import DenseVector

# Creating an rdd by separating the variable to be explained from the features
rdd_ml = df.rdd.map(lambda x: (x[0], DenseVector(x[1:])))

# Creation of a data frame composed of two variables: label and features
df_ml = spark.createDataFrame(rdd_ml, ['label', 'features'])

# Display of the first 10 lines of the data frame
df_ml.show(10)

# Splitting the data into two training and test sets ==> by default the sample is randomly distributed
train, test = df_ml.randomSplit([.8, .2], seed= 1234)

# Import of LinearRegression of the package pyspark.ml.regression
from pyspark.ml.regression import LinearRegression

# Creating a linear regression function
lr = LinearRegression(labelCol='label', featuresCol= 'features')

# Fitting of training data "train".
linearModel = lr.fit(train)

# Calculation of test data predictions
predicted = linearModel.transform(test)

# Printing prediction
predicted.show()

# Calculation and display of the RMSE
print("RMSE LinearRegression:", linearModel.summary.rootMeanSquaredError)

# Calculation and display of R2
print("R2 LinearRegression  :  ", linearModel.summary.r2)

from pprint import pprint

# Displaying the Coefficients of the linear model
pprint(linearModel.coefficients)


# -------------- DecisionTreeRegressor ---------------------
# Import of DecisionTreeRegressor of the package pyspark.ml.regression
from pyspark.ml.regression import DecisionTreeRegressor

# Creating a linear regression function
dt = DecisionTreeRegressor(labelCol='label', featuresCol= 'features')

# Fitting of training data "train".
decisionTreeModel = dt.fit(train)

# Calculation of test data predictions
predicted = decisionTreeModel.transform(test)

# Printing prediction
predicted.show(10)

from pyspark.ml.evaluation import RegressionEvaluator

# Creating a regression evaluator
evaluatorRmse = RegressionEvaluator(labelCol='label', predictionCol='prediction', metricName='rmse')

# Calculating RMSE
rmse = evaluatorRmse.evaluate(predicted)

# Printing RMSE = Root Mean Squared Error
print("RMSE DecisionTreeRegressor:", rmse)

# Creating a regression evaluator for R-squared
evaluatorR2 = RegressionEvaluator(labelCol='label', predictionCol='prediction', metricName='r2')

# Calculating R-squared
r2 = evaluatorR2.evaluate(predicted)

# Printing R-squared
print("R-squared DecisionTreeRegressor :", r2)

23/06/05 08:54:43 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
| _c0| _c1| _c2| _c3| _c4| _c5| _c6| _c7| _c8| _c9|_c10|_c11|_c12|_c13|_c14|_c15|_c16|_c17|_c18|_c19|_c20|_c21|_c22|_c23|_c24|_c25|_c26|_c27|_c28|_c29|_c30|_c31|_c32|_c33|_c34|_c35|_c36|_c37|_c38|_c39|_c40|_c41|_c42|_c43|_c44|_c45|_c46|_c47|_c48|_c49|_c50|_c51|_c52|_c53|_c54|_c55|_c56|_c57|_c58|_c59|_c60|_c61|_c62|_c63|_c64|_c65|_c66|_c67|_c68|_c69|_c70|_c71|_c72|_c73|_c74|_c75|_c76|_c77|_c78|_c79|_c80|_c81|_c82|_c83|_c84|_c85|_c86|_c87|_c88|_c89|_c90|
+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
|2001|4...|2...|7...|8...|-...|-...|-...|-...|7...|-...|3...|-...|1...|6...|9...|6...|4...|3...|3...|2...|2...|1...|1...|1...|-...|-...|9...|4...|-...|-...|1...|3...|1...|1...|7...|-...|-...|-...|-...|7...|-...|-...|-...|-...|1...|-...|8...|2...|-...|3...|-...|-...|1...|4...|-...|-...|1...|6...|2...|-...|-...|7...|-...|-...|-...|-...|4...|7...|2...|6...|-...|-...|-...|7...|-...|-...|-...|1...|-...|4...|1...|-...|5...|1...|1...|-...|6...|-...|-...|2...|
|2001|4...|1...|7...|1...|-...|-...|8...|-...|1...|4...|2...|0...|4...|2...|6...|4...|7...|4...|7...|3...|3...|2...|1...|3...|1...|-...|1...|1...|-...|-...|1...|4...|3...|-...|4...|2...|-...|-...|-...|2...|-...|1...|-...|-...|-...|-...|-...|1...|1...|4...|2...|1...|7...|-...|-...|1...|7...|-...|-...|-...|-...|-...|1...|-...|4...|1...|-...|4...|4...|-...|4...|1...|1...|-...|1...|-...|-...|1...|-...|-...|5...|-...|3...|4...|-...|-...|7...|1...|5...|2...|
+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+
only showing top 2 rows

root
 |-- _c0: integer (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)
 |-- _c3: double (nullable = true)
 |-- _c4: double (nullable = true)
 |-- _c5: double (nullable = true)
 |-- _c6: double (nullable = true)
 |-- _c7: double (nullable = true)
 |-- _c8: double (nullable = true)
 |-- _c9: double (nullable = true)
 |-- _c10: double (nullable = true)
 |-- _c11: double (nullable = true)
 |-- _c12: double (nullable = true)
 |-- _c13: double (nullable = true)
 |-- _c14: double (nullable = true)
 |-- _c15: double (nullable = true)
 |-- _c16: double (nullable = true)
 |-- _c17: double (nullable = true)
 |-- _c18: double (nullable = true)
 |-- _c19: double (nullable = true)
 |-- _c20: double (nullable = true)
 |-- _c21: double (nullable = true)
 |-- _c22: double (nullable = true)
 |-- _c23: double (nullable = true)
 |-- _c24: double (nullable = true)
 |-- _c25: double (nullable = true)
 |-- _c26: double (nullable = true)
 |-- _c27: double (nullable = true)
 |-- _c28: double (nullable = true)
 |-- _c29: double (nullable = true)
 |-- _c30: double (nullable = true)
 |-- _c31: double (nullable = true)
 |-- _c32: double (nullable = true)
 |-- _c33: double (nullable = true)
 |-- _c34: double (nullable = true)
 |-- _c35: double (nullable = true)
 |-- _c36: double (nullable = true)
 |-- _c37: double (nullable = true)
 |-- _c38: double (nullable = true)
 |-- _c39: double (nullable = true)
 |-- _c40: double (nullable = true)
 |-- _c41: double (nullable = true)
 |-- _c42: double (nullable = true)
 |-- _c43: double (nullable = true)
 |-- _c44: double (nullable = true)
 |-- _c45: double (nullable = true)
 |-- _c46: double (nullable = true)
 |-- _c47: double (nullable = true)
 |-- _c48: double (nullable = true)
 |-- _c49: double (nullable = true)
 |-- _c50: double (nullable = true)
 |-- _c51: double (nullable = true)
 |-- _c52: double (nullable = true)
 |-- _c53: double (nullable = true)
 |-- _c54: double (nullable = true)
 |-- _c55: double (nullable = true)
 |-- _c56: double (nullable = true)
 |-- _c57: double (nullable = true)
 |-- _c58: double (nullable = true)
 |-- _c59: double (nullable = true)
 |-- _c60: double (nullable = true)
 |-- _c61: double (nullable = true)
 |-- _c62: double (nullable = true)
 |-- _c63: double (nullable = true)
 |-- _c64: double (nullable = true)
 |-- _c65: double (nullable = true)
 |-- _c66: double (nullable = true)
 |-- _c67: double (nullable = true)
 |-- _c68: double (nullable = true)
 |-- _c69: double (nullable = true)
 |-- _c70: double (nullable = true)
 |-- _c71: double (nullable = true)
 |-- _c72: double (nullable = true)
 |-- _c73: double (nullable = true)
 |-- _c74: double (nullable = true)
 |-- _c75: double (nullable = true)
 |-- _c76: double (nullable = true)
 |-- _c77: double (nullable = true)
 |-- _c78: double (nullable = true)
 |-- _c79: double (nullable = true)
 |-- _c80: double (nullable = true)
 |-- _c81: double (nullable = true)
 |-- _c82: double (nullable = true)
 |-- _c83: double (nullable = true)
 |-- _c84: double (nullable = true)
 |-- _c85: double (nullable = true)
 |-- _c86: double (nullable = true)
 |-- _c87: double (nullable = true)
 |-- _c88: double (nullable = true)
 |-- _c89: double (nullable = true)
 |-- _c90: double (nullable = true)

+-----+--------------------+
|label|            features|
+-----+--------------------+
| 2001|[49.94357,21.4711...|
| 2001|[48.73215,18.4293...|
| 2001|[50.95714,31.8560...|
| 2001|[48.2475,-1.89837...|
| 2001|[50.9702,42.20998...|
| 2001|[50.54767,0.31568...|
| 2001|[50.57546,33.1784...|
| 2001|[48.26892,8.97526...|
| 2001|[49.75468,33.9958...|
| 2007|[45.17809,46.3423...|
+-----+--------------------+
only showing top 10 rows

23/06/05 08:55:22 WARN Instrumentation: [f08a5bd4] regParam is zero, which might cause numerical instability and overfitting.

+-----+--------------------+------------------+
|label|            features|        prediction|
+-----+--------------------+------------------+
| 1922|[40.96435,64.5129...|1995.6636213087854|
| 1922|[46.15136,66.0833...|1997.9249712538408|
| 1928|[34.74756,-60.680...|1986.8888849610278|
| 1928|[37.09369,-119.24...| 1997.332951898663|
| 1929|[22.43376,-106.81...|1988.5231716417095|
| 1929|[26.64447,-72.858...| 1982.148672732321|
| 1929|[28.86846,-134.80...|1991.0562414149865|
| 1929|[35.70447,-77.190...|1986.5063135696932|
| 1930|[20.82134,-105.06...|1979.7437642435186|
| 1930|[34.14566,-89.762...|1985.3130940070123|
| 1930|[37.87171,-120.13...| 1988.643392792783|
| 1930|[41.08332,-93.379...| 1989.170896188646|
| 1931|[36.8584,-91.0008...|1985.1755682183211|
| 1931|[36.93633,-84.588...|1981.5020186660693|
| 1932|[33.20162,-143.14...|1989.8176878031343|
| 1932|[39.96935,-93.586...|1987.8575537621787|
| 1934|[38.58574,-107.77...|1987.2084623804262|
| 1935|[28.23865,-210.09...| 1994.795950545999|
| 1936|[31.87813,-168.63...|1992.0856275527788|
| 1937|[31.33392,-150.96...|1988.5575270711975|
+-----+--------------------+------------------+
only showing top 20 rows

RMSE LinearRegression: 9.551981153490303
R2 LinearRegression  :   0.23634168471481043
DenseVector([0.873, -0.0566, -0.0436, 0.0053, -0.0153, -0.2203, -0.0075, -0.1007, -0.0711, 0.0248, -0.1637, -0.004, 0.0468, 0.0004, -0.0004, 0.0006, 0.0005, 0.0015, 0.0019, 0.0021, 0.0008, -0.0006, 0.0078, 0.0029, -0.0036, 0.0001, 0.0016, 0.0005, 0.0008, -0.0004, -0.0015, -0.0014, -0.0057, 0.002, 0.0017, -0.0052, -0.0002, 0.0006, 0.0013, -0.0018, -0.0021, -0.0006, -0.0016, -0.0021, -0.0033, 0.0068, 0.0004, -0.0021, 0.0002, 0.0019, 0.0004, -0.0015, 0.002, 0.0006, -0.0002, 0.0002, -0.0019, 0.002, -0.0013, 0.0002, -0.0031, -0.0019, -0.0078, 0.0012, -0.0021, 0.0007, -0.0004, -0.0004, -0.0041, -0.0056, -0.0011, 0.0002, 0.0007, 0.004, 0.0029, 0.0154, 0.0002, -0.0044, -0.0001, -0.0001, -0.0008, -0.0006, 0.0013, 0.001, 0.0267, 0.0001, 0.0012, -0.0317, -0.0015, -0.0015])

23/06/05 09:00:54 WARN MemoryStore: Not enough space to cache rdd_368_3 in memory! (computed 3.8 MiB so far)
23/06/05 09:00:54 WARN BlockManager: Persisting block rdd_368_3 to disk instead.

+-----+--------------------+------------------+
|label|            features|        prediction|
+-----+--------------------+------------------+
| 1922|[40.96435,64.5129...|  1993.38480009605|
| 1922|[46.15136,66.0833...|2003.6109438408168|
| 1928|[34.74756,-60.680...|  1993.38480009605|
| 1928|[37.09369,-119.24...|1996.5106917220153|
| 1929|[22.43376,-106.81...|1996.5106917220153|
| 1929|[26.64447,-72.858...|1996.8444276695031|
| 1929|[28.86846,-134.80...|1996.8444276695031|
| 1929|[35.70447,-77.190...|1989.6429693424332|
| 1930|[20.82134,-105.06...|1996.5106917220153|
| 1930|[34.14566,-89.762...|1989.6429693424332|
+-----+--------------------+------------------+
only showing top 10 rows

RMSE DecisionTreeRegressor: 9.988742893187132

R-squared DecisionTreeRegressor : 0.16524223180966502

# Recap Pipelines

In [1]:
# Recap Model Evaluation

# Importing SparkSession and SparkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext

# Defining a SparkContext locally
sc = SparkContext.getOrCreate()

# Building a Spark Session
spark = SparkSession \
    .builder \
    .appName("Pipelines Spark ML") \
    .getOrCreate()
    
spark

pathSD = "/Volumes/SD512/indirilenler_SD_Card/data"

# Loading the file 'HR_comma_sep.csv'
hr = spark.read.csv(f'file:///{pathSD}/HR_comma_sep.csv', header = True)

hr = hr.withColumnRenamed("Department", "sales")

# Displaying an extract from the data frame
hr.sample(False, 0.001 , seed = 222).toPandas()

# Sort the variables in such a way that the label is in the first column
hr = hr.select( 'left',
               'satisfaction_level',
               'last_evaluation',
               'number_project',
               'average_montly_hours',
               'time_spend_company',
               'Work_accident',
               'promotion_last_5years',
               'sales',
               'salary')

# Display of a description of the variables
hr.describe().toPandas()

print("---------------------- StringIndexer ----------------------")
# ---------------------- StringIndexer ----------------------
# Importing StringIndexer from the package pyspark.ml.feature
from pyspark.ml.feature import StringIndexer

# Creation of an indexer transforming a dirty variable into indexedSales
salesIndexer = StringIndexer(inputCol='sales', outputCol='indexedSales').fit(hr)

# Creating a DataFrame hrSalesIndexed indexing the variable sales
hrSalesIndexed = salesIndexer.transform(hr)

# Displaying an extract from the hrSalesIndexed data frame 
hrSalesIndexed.sample(False, 0.0004 , seed = 222).toPandas()

# Import of IndexToString from the pyspark.ml.feature package
from pyspark.ml.feature import IndexToString

print("---------------------- Reconstructed column ----------------------")
# ---------------------- Reconstructed column ----------------------
# Creating a new salesReconstructed column
SalesReconstructor = IndexToString(inputCol='indexedSales',
                                   outputCol='salesReconstructed',
                                   labels = salesIndexer.labels)

# Apply the SalesReconstructor transformer
hrSalesReconstructed = SalesReconstructor.transform(hrSalesIndexed)

# Displaying an extract from the database
hrSalesReconstructed.sample(False, 0.0004 , seed = 222).toPandas()
# A new column "salesReconstructed" equal to the column "sales" appears


# Pipeline import from pyspark.ml package
from pyspark.ml import Pipeline

print("---------------------- Pipeline ----------------------")
# ---------------------- Pipeline ----------------------
# Creation of indexers
SalesIndexer = StringIndexer(inputCol='sales', outputCol='indexedSales')
SalaryIndexer = StringIndexer(inputCol='salary', outputCol='indexedSalary')

# Creating a pipeline
indexer = Pipeline(stages =  [SalaryIndexer, SalesIndexer])

# Index the variables of "hr"
hrIndexed = indexer.fit(hr).transform(hr)

# Displaying an extract
hrIndexed.sample(False, 0.0004 , seed = 222).toPandas()

print("---------------------- svmLib ----------------------")
# ---------------------- svmLib ----------------------
# Import of DenseVector from the pyspark.ml.linalg package
from pyspark.ml.linalg import DenseVector

# Creation of a database excluding non-indexed variables
hrNumeric = hrIndexed.select('left',
                             'satisfaction_level',
                             'last_evaluation',
                             'number_project',
                             'average_montly_hours',
                             'time_spend_company',
                             'Work_accident',
                             'promotion_last_5years',
                             'indexedSales',
                             'indexedSalary')

# Creation of a DenseVector variable containing the features via the RDD structure
hrRdd = hrNumeric.rdd.map(lambda x: (x[0], DenseVector(x[1:])))

# transformation into DataFrame and naming variables to get a base of the form libsvm
hrLibsvm = spark.createDataFrame(hrRdd, ['label', 'features'])

# Displaying an extract
hrLibsvm.sample(False, .0004, seed = 222).toPandas()

print("---------------------- RandomForestClassifier ----------------------")
# ---------------------- RandomForestClassifier ----------------------
# Import of the RandomForestClassifier from the pyspark.ml.classification package
from pyspark.ml.classification import RandomForestClassifier

# Import of VectorIndexer from the pyspark.ml.feature package
from pyspark.ml.feature import VectorIndexer

# Creation of transformers
labelIndexer = StringIndexer(inputCol="label", outputCol="indexedLabel").fit(hrLibsvm)
featureIndexer = VectorIndexer(inputCol="features", outputCol="indexedFeatures", maxCategories = 10).fit(hrLibsvm)

# Creation of a classifier 
rf = RandomForestClassifier(labelCol="indexedLabel", featuresCol="indexedFeatures", predictionCol='prediction', seed = 222)

# Creation of a transformer to restore the labels of predictions
labelConverter = IndexToString(inputCol="prediction", outputCol="predictedLabel",
                               labels=labelIndexer.labels)

# Creating a Pipeline 
pipeline = Pipeline(stages=[labelIndexer, featureIndexer, rf, labelConverter])


# Splitting data into two sets: training and test 
(train, test) = hrLibsvm.randomSplit([0.7, 0.3], seed = 222)

# Training the model using the training data
model = pipeline.fit(train)

#Calculation of predictions
predictions = model.transform(test)

# Display of an extract of the predictions  
predictions.sample(False, 0.001 , seed = 222).toPandas()

print("---------------------- Evaluator ----------------------")
# ---------------------- Evaluator ----------------------
# Import of a MulticlassClassificationEvaluator evaluator from the pyspark.ml.evaluation package
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Creation of an evaluator 
evaluator = MulticlassClassificationEvaluator(metricName='accuracy',
                                              labelCol= 'indexedLabel',
                                              predictionCol= 'prediction')
# Calculation and display of model accuracy 
accuracy = evaluator.evaluate(predictions)
print("RandomForestClassifier Accuracy = ",accuracy)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/05 10:56:49 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/05 10:57:04 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

---------------------- StringIndexer ----------------------

---------------------- Reconstructed column ----------------------
---------------------- Pipeline ----------------------
---------------------- svmLib ----------------------

---------------------- RandomForestClassifier ----------------------

---------------------- Evaluator ----------------------

RandomForestClassifier Accuracy =  0.963758389261745

# Recap Model Tunnig

In [1]:
from time import time
start = time()

# Importing SparkSession and SParkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext

# Creating a SparkContext
sc = SparkContext.getOrCreate()

# Creating a Spark session
spark = SparkSession \
    .builder \
    .appName("ML Tuning") \
    .getOrCreate()
        
spark


pathSD = "/Volumes/SD512/indirilenler_SD_Card/data"

# Loading the file "YearPredictionMSD.txt" into a data frame
df_full = spark.read.csv(f'file:///{pathSD}/YearPredictionMSD.txt', header=False)

# We infer the right types from the columns
from pyspark.sql.functions import col
exprs = [col(c).cast("double") for c in df_full.columns[1:13]]

df_casted = df_full.select(df_full._c0.cast('int'),
                           *exprs)

# Finally, for the sake of speed of calculations,
# we will only process an extract from the database in this exercise
df = df_casted.sample(False, .1, seed = 222)

df.sample(False, .0001, seed = 222).toPandas()

print(df.printSchema())

# ---------------------- svmLib ----------------------
from pyspark.ml.linalg import DenseVector

# Conversion of the database to svmlib format
rdd_ml = df.rdd.map(lambda x: (x[0], DenseVector(x[1:])))
df_ml = spark.createDataFrame(rdd_ml, ['label', 'features'])

df_ml.show(5)

print("---------------------- Train Test ----------------------")

# Splitting data into two training and test sets
# by default the sample is randomly distributed
train, test = df_ml.randomSplit([0.8, 0.2], seed=222)


print("---------------------- LinearRegression ----------------------")
# import of LinearRegression from the pyspark.ml.regression package
from pyspark.ml.regression import LinearRegression

# Creating an estimator: Linear regression
lr = LinearRegression(featuresCol = 'features', labelCol = 'label')

print("---------------------- Param Grid Builder ----------------------")
# Import of ParamGridBuilder from the pyspark.ml.tuning package
from pyspark.ml.tuning import ParamGridBuilder

# Creating a parameter grid
param_grid = ParamGridBuilder().\
    addGrid(lr.regParam, [0, 0.5, 1]).\
    addGrid(lr.elasticNetParam, [0, 0.5, 1]).\
    build()

print("---------------------- RegressionEvaluator ----------------------")
# Import of RegressionEvaluator from the pyspark.ml.evaluation package
from pyspark.ml.evaluation import RegressionEvaluator

ev = RegressionEvaluator(predictionCol='prediction',
                                labelCol='label',
                                metricName='rmse')

print("---------------------- CrossValidator ----------------------")
#Import of CrossValidator from the pyspark.ml.tuning package
from pyspark.ml.tuning import CrossValidator

# Creation of a 3-fold cross validator
cv = CrossValidator(estimator = lr,
                    estimatorParamMaps = param_grid,
                    evaluator=ev,
                    numFolds=3)

print("---------------------- model.fit(train) ----------------------")
# Import of the time library and calculation of time at the beginning of the execution (t0)
from time import time
t0 = time()

#lr = LinearRegression(featuresCol = 'features', labelCol = 'label')
#ev = RegressionEvaluator(predictionCol='prediction', labelCol='label', metricName='r2')
#cv = CrossValidator(estimator = lr, estimatorParamMaps = param_grid, evaluator = ev, numFolds = 3)

cv_model = cv.fit(train)

tt = time() - t0
print(f"Done in {round(tt, 3)} seconds")

print("---------------------- predictions ----------------------")
# Calculation of predictions on training set 
pred_train = cv_model.transform(train)

# Calculation of predictions on test set 
pred_test  = cv_model.transform(test)

print("---------------------- r2, rmse ----------------------")
r_square = ev.setMetricName('r2').evaluate(pred_test)

rmse = ev.setMetricName('rmse').evaluate(pred_test)

print("R_Square = ",r_square)
print("RMSE = ",rmse)

print("---------------------- rmodel coefficients ----------------------")
# Display of model coefficients
print(cv_model.bestModel.coefficients)


# Total Time
finish = time()
print("Total Time = ", finish - start)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/05 12:22:21 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

root
 |-- _c0: integer (nullable = true)
 |-- _c1: double (nullable = true)
 |-- _c2: double (nullable = true)
 |-- _c3: double (nullable = true)
 |-- _c4: double (nullable = true)
 |-- _c5: double (nullable = true)
 |-- _c6: double (nullable = true)
 |-- _c7: double (nullable = true)
 |-- _c8: double (nullable = true)
 |-- _c9: double (nullable = true)
 |-- _c10: double (nullable = true)
 |-- _c11: double (nullable = true)
 |-- _c12: double (nullable = true)

None

+-----+--------------------+
|label|            features|
+-----+--------------------+
| 2001|[50.57546,33.1784...|
| 2003|[37.68491,-26.841...|
| 2000|[41.37983,0.14209...|
| 2000|[50.86288,56.5713...|
| 1998|[43.55369,-8.5369...|
+-----+--------------------+
only showing top 5 rows

---------------------- Train Test ----------------------
---------------------- LinearRegression ----------------------
---------------------- Param Grid Builder ----------------------
---------------------- RegressionEvaluator ----------------------
---------------------- CrossValidator ----------------------
---------------------- model.fit(train) ----------------------

23/06/05 12:22:59 WARN Instrumentation: [ae4c052e] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:23:00 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
23/06/05 12:23:00 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.VectorBLAS
23/06/05 12:23:09 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK
23/06/05 12:23:19 WARN Instrumentation: [a360f3b9] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:23:20 WARN Instrumentation: [4176b54b] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:23:30 WARN Instrumentation: [4ec876dd] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:23:46 WARN Instrumentation: [9480fd40] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:23:47 WARN Instrumentation: [8f83bc98] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:23:54 WARN Instrumentation: [5bb40eeb] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:24:10 WARN Instrumentation: [e2baae82] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:24:11 WARN Instrumentation: [2dbdba30] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 12:24:27 WARN Instrumentation: [049501b0] regParam is zero, which might cause numerical instability and overfitting.

Done in 112.721 seconds
---------------------- predictions ----------------------
---------------------- r2, rmse ----------------------

R_Square =  0.1507749053877322
RMSE =  9.934428134135151
---------------------- rmodel coefficients ----------------------
[0.7398414243248653,-0.05660403223973706,-0.07564839462492409,0.13904782281618258,0.014625527053163135,-0.21347108350347607,-0.06160659876036667,-0.05335451779315963,-0.12181883863897003,0.0997640090763514,-0.44761935778485695,0.02607668980106921]
Total Time =  167.3572597503662