In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('automobiles.csv', index_col = 0)

df.head()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,2,164,99.8,176.6,66.2,54.3,2337,109,3.19,3.4,10.0,102,5500,24,30,13950
1,2,164,99.4,176.6,66.4,54.3,2824,136,3.19,3.4,8.0,115,5500,18,22,17450
2,1,158,105.8,192.7,71.4,55.7,2844,136,3.19,3.4,8.5,110,5500,19,25,17710
3,1,158,105.8,192.7,71.4,55.9,3086,131,3.13,3.4,8.3,140,5500,17,20,23875
4,2,192,101.2,176.8,64.8,54.3,2395,108,3.50,2.8,8.8,101,5800,23,29,16430

# Linear Regression

In [5]:
# Linera Regression
# Load Data
df = pd.read_csv('automobiles.csv', index_col = 0)


# Import Libraries
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error


# Explanatory variables
X = df.drop(['price'], axis = 1)

# Target variable
y = df['price']



# Splitting the dataset into a training set (85%) and a test set (15%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)



# Instantiation of the model
lr = LinearRegression()

# Training the model
lr.fit(X_train, y_train)

# Prediction of the target variable for the TRAIN dataset
y_pred_train = lr.predict(X_train)

# Prediction of the target variable for the TEST dataset
y_pred_test = lr.predict(X_test)



# Calculation of the MSE between the target variable and the predictions made on the training dataset
mse_train = mean_squared_error(y_train, y_pred_train)

# Calculation of the MSE between the target variable and the predictions made on the test dataset
mse_test = mean_squared_error(y_test, y_pred_test)

print("MSE train lr:", mse_train)
print("MSE test lr:", mse_test)
print('\n')


# Calculation of the MAE between the target variable and the predictions made on the training dataset
mae_train = mean_absolute_error(y_train, y_pred_train)

# Calculation of the MAE between the target variable and the predictions made on the test dataset
mae_test = mean_absolute_error(y_test, y_pred_test)

print("MAE train lr:", mae_train)
print("MAE test lr:", mae_test)

mean_price = df['price'].mean()

print("\nRelative error", mae_test / mean_price)

# The mean absolute error is around 20% of the average price, which is not optimal
# but is still a good baseline for testing more advanced models.

MSE train lr: 5359876.907934098
MSE test lr: 4234448.413413155


MAE train lr: 1703.6756284111111
MAE test lr: 1564.140701010334

Relative error 0.1366571429846638

In [ ]:
    Accuracy (Doğruluk): Bir sınıflandırma algoritması tarafından doğru olarak tahmin edilen örneklerin oranıdır. 
    Yani doğru tahmin edilen örneklerin toplam örneklere oranıdır. 
    Örnek olarak, bir hastalık teşhisi yapmak için bir sınıflandırma modeli kullanırsak,
    doğru olarak teşhis edilen hastaların sayısının toplam hastalara oranı accuracy olarak ifade edilir.

    Recall (Duyarlılık): Gerçek pozitif örneklerin tamamının doğru olarak tahmin edilme oranıdır. 
    Yani gerçekte hastalığı olan hastaların, hastalığı olanların tümü olarak tanımlanma oranıdır. 
    Örnek olarak, kanser taraması yapmak için bir sınıflandırma modeli kullanırsak, 
    gerçekte kanser hastası olanların tamamının doğru şekilde tespit edilme oranı recall olarak ifade edilir.

    Precision (Kesinlik): Bir sınıflandırma algoritmasının doğru olarak tahmin ettiği pozitif örneklerin oranıdır. 
    Yani, modelin doğru olarak tahmin ettiği pozitif örneklerin gerçekte pozitif olanların tümüne oranıdır. 
    Örnek olarak, bir spam filtresi oluşturmak için bir sınıflandırma modeli kullanırsak, 
    gerçekten spam olanların tahmini doğru şekilde spam olarak sınıflandırıldığı oran precision olarak ifade edilir.

In [27]:
class Calisan():
    def __init__(self, isim, bolum, maas):
        self.isim = isim
        self.bolum = bolum
        self.maas = maas
        print("Calisan Sinifi init fonk. calisti")
        
    def bilgi_goster(self):
        print(f""" 
        Isim : {self.isim} 
        Bolum : {self.bolum}
        Maas : {self.maas} 
        """)
    def bilgi_goster2(self):
        print(f"Isim : {self.isim} \nBolum : {self.bolum} \nMaas : {self.maas}")
        
c1 = Calisan("Abdullah", "Data Engineer", 45000)

c1.bilgi_goster2()

Calisan Sinifi init fonk. calisti
Isim : Abdullah
Bolum : Data Engineer
Maas : 45000

In [28]:
class Yonetici(Calisan):
    def __init__(self, isim, bolum, maas, kisi_sayisi):
        super().__init__(isim, bolum, maas)
        
        self.kisi_sayisi = kisi_sayisi
        
        print("Yonetici Sinifi init fonk. calisti")
    
    def zam_yap(self, zam_miktari):
        self.maas += zam_miktari
        print(self.maas)
        
y1 = Yonetici("Abdullah", "Data Engineer", 45000, 5)

Calisan Sinifi init fonk. calisti
Yonetici Sinifi init fonk. calisti

In [17]:
y1.zam_yap(400)

45800