In [1]:
from time import time
start = time()

# Importing SparkSession and SParkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext

# Creating a SparkContext
sc = SparkContext.getOrCreate()

# Creating a Spark session
spark = SparkSession \
    .builder \
    .appName("CryptoBot Project") \
    .getOrCreate()
        
spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/06/05 13:19:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
23/06/05 13:19:18 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [2]:
path = "/Users/macbook/Desktop/projects/Github_Repositories/CryptoBot_with_Binance_Project/data"

# Loading the file "YearPredictionMSD.txt" into a data frame
df_full = spark.read.csv(f'file:///{path}/stream_data_minutely_2023_06_31.csv', header=True)

In [6]:
df_full.sample(False, .01, seed=123).toPandas()

23/06/05 13:22:19 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: event, event_time, symbol, kline_open_time, kline_close_time, symbol, interval, first_trade_id, last_trade_id, open_price, close_price, highest_price, lowest_price, base_asset_volume, number_of_trades, is_closed, quote_asset_volume, taker_buy_base_asset_volume, taker_buy_quote_asset_volume, ignore
 Schema: event, event_time, symbol2, kline_open_time, kline_close_time, symbol5, interval, first_trade_id, last_trade_id, open_price, close_price, highest_price, lowest_price, base_asset_volume, number_of_trades, is_closed, quote_asset_volume, taker_buy_base_asset_volume, taker_buy_quote_asset_volume, ignore
Expected: symbol2 but found: symbol
CSV file: file:///Users/macbook/Desktop/projects/Github_Repositories/CryptoBot_with_Binance_Project/data/stream_data_minutely_2023_06_31.csv

,event,event_time,symbol2,kline_open_time,kline_close_time,symbol5,interval,first_trade_id,last_trade_id,open_price,close_price,highest_price,lowest_price,base_asset_volume,number_of_trades,is_closed,quote_asset_volume,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,kline,1685575245473,ETHUSDT,1685575200000,1685575259999,ETHUSDT,1m,1158341373,1158341501,1869.38000000,1869.40000000,1869.83000000,1869.37000000,42.82160000,129,False,80064.50085700,4.33320000,8101.44324900,0
1,kline,1685575837494,ETHUSDT,1685575800000,1685575859999,ETHUSDT,1m,1158343506,1158343628,1871.89000000,1871.42000000,1871.90000000,1871.41000000,115.60900000,123,False,216388.70800600,6.84270000,12808.40669400,0
2,kline,1685576176532,ETHUSDT,1685576160000,1685576219999,ETHUSDT,1m,1158344296,1158344319,1870.52000000,1870.52000000,1870.53000000,1870.52000000,19.61760000,24,False,36695.12149500,0.83430000,1560.58317900,0

In [7]:
df_full.count()

494

In [12]:
columns_to_drop = ["event", "symbol2", "interval", "is_closed", "symbol5", "ignore"]
df_drop = df_full.drop(*columns_to_drop)
df_drop.sample(False, .01, seed=123).toPandas()

,event_time,kline_open_time,kline_close_time,first_trade_id,last_trade_id,open_price,close_price,highest_price,lowest_price,base_asset_volume,number_of_trades,quote_asset_volume,taker_buy_base_asset_volume,taker_buy_quote_asset_volume
0,1685575245473,1685575200000,1685575259999,1158341373,1158341501,1869.38000000,1869.40000000,1869.83000000,1869.37000000,42.82160000,129,80064.50085700,4.33320000,8101.44324900
1,1685575837494,1685575800000,1685575859999,1158343506,1158343628,1871.89000000,1871.42000000,1871.90000000,1871.41000000,115.60900000,123,216388.70800600,6.84270000,12808.40669400
2,1685576176532,1685576160000,1685576219999,1158344296,1158344319,1870.52000000,1870.52000000,1870.53000000,1870.52000000,19.61760000,24,36695.12149500,0.83430000,1560.58317900

In [13]:
df_drop.printSchema()

root
 |-- event_time: string (nullable = true)
 |-- kline_open_time: string (nullable = true)
 |-- kline_close_time: string (nullable = true)
 |-- first_trade_id: string (nullable = true)
 |-- last_trade_id: string (nullable = true)
 |-- open_price: string (nullable = true)
 |-- close_price: string (nullable = true)
 |-- highest_price: string (nullable = true)
 |-- lowest_price: string (nullable = true)
 |-- base_asset_volume: string (nullable = true)
 |-- number_of_trades: string (nullable = true)
 |-- quote_asset_volume: string (nullable = true)
 |-- taker_buy_base_asset_volume: string (nullable = true)
 |-- taker_buy_quote_asset_volume: string (nullable = true)

In [14]:
df_drop.columns

['event_time',
 'kline_open_time',
 'kline_close_time',
 'first_trade_id',
 'last_trade_id',
 'open_price',
 'close_price',
 'highest_price',
 'lowest_price',
 'base_asset_volume',
 'number_of_trades',
 'quote_asset_volume',
 'taker_buy_base_asset_volume',
 'taker_buy_quote_asset_volume']

In [7]:
path = "/Users/macbook/Desktop/projects/Github_Repositories/CryptoBot_with_Binance_Project/data"

# Loading the file "YearPredictionMSD.txt" into a data frame
df_full = spark.read.csv(f'file:///{path}/stream_data_minutely_2023_06_31.csv', header=True)

columns_to_drop = ["event", "symbol2", "interval", "is_closed", "symbol5", "ignore"]
df_drop = df_full.drop(*columns_to_drop)
df_drop.sample(False, .01, seed=123).toPandas()

from pyspark.sql.functions import col

df_drop = df_drop.select(
                         'close_price',
                         #'event_time',
                         'number_of_trades',
                         #'kline_open_time',
                         #'kline_close_time',
                         'first_trade_id',
                         'last_trade_id',
                         'open_price', 
                         'highest_price',
                         'lowest_price',
                         'base_asset_volume',
                         'quote_asset_volume',
                         'taker_buy_base_asset_volume',
                         'taker_buy_quote_asset_volume')

exprs00 = [col(c).cast("double") for c in df_drop.columns[:1]]
exprs01 = [col(c).cast("double") for c in df_drop.columns[7:]]
exprs02 = [col(c).cast("integer") for c in df_drop.columns[1:7]]

df = df_drop.select(*exprs00, *exprs01, *exprs02) 
df.sample(False, .01, seed = 222).toPandas()

,close_price,base_asset_volume,quote_asset_volume,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,number_of_trades,first_trade_id,last_trade_id,open_price,highest_price,lowest_price
0,1868.85,27.0272,50519.276709,2.4375,4556.461721,93,1158341013,1158341105,1869,1869,1868
1,1869.40,42.8639,80143.576776,4.3631,8157.338608,132,1158341373,1158341504,1869,1869,1869
2,1871.58,0.9797,1833.591207,0.4281,801.227679,19,1158343692,1158343710,1871,1871,1871

In [8]:
from pyspark.sql.functions import col, sum as spark_sum

# Toplam NULL değer içeren sütunları bulma
null_counts = df.select([spark_sum(col(c).isNull().cast('integer')).alias(c) for c in df.columns])

# Sonuçları gösterme
null_counts.toPandas()

,close_price,base_asset_volume,quote_asset_volume,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,number_of_trades,first_trade_id,last_trade_id,open_price,highest_price,lowest_price
0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
from time import time
start = time()

# Importing SparkSession and SParkContext
from pyspark.sql import SparkSession
from pyspark import SparkContext

# Creating a SparkContext
sc = SparkContext.getOrCreate()

# Creating a Spark session
spark = SparkSession \
    .builder \
    .appName("CryptoBot Project") \
    .getOrCreate()
        
spark

print("---------------------- Load Data ----------------------")
path = "/Users/macbook/Desktop/projects/Github_Repositories/CryptoBot_with_Binance_Project/data"

# Loading the file "YearPredictionMSD.txt" into a data frame
df_full = spark.read.csv(f'file:///{path}/stream_data_minutely_2023_06_31.csv', header=True)

columns_to_drop = ["event", "symbol2", "interval", "is_closed", "symbol5", "ignore"]
df_drop = df_full.drop(*columns_to_drop)

from pyspark.sql.functions import col

df_drop = df_drop.select(
                         'close_price',
                        # 'event_time',
                         'number_of_trades',
                        # 'kline_open_time',
                        # 'kline_close_time',
                         'first_trade_id',
                         'last_trade_id',
                         'open_price', 
                         'highest_price',
                         'lowest_price',
                         'base_asset_volume',
                         'quote_asset_volume',
                         'taker_buy_base_asset_volume',
                         'taker_buy_quote_asset_volume')

exprs00 = [col(c).cast("double") for c in df_drop.columns[:1]]
exprs01 = [col(c).cast("double") for c in df_drop.columns[7:]]
exprs02 = [col(c).cast("int") for c in df_drop.columns[1:7]]

df = df_drop.select(*exprs00, *exprs01, *exprs02) 
df.sample(False, .01, seed = 222).toPandas()


# ---------------------- svmLib ----------------------
from pyspark.ml.linalg import DenseVector

# Conversion of the database to svmlib format
rdd_ml = df.rdd.map(lambda x: (x[0], DenseVector(x[1:])))
df_ml = spark.createDataFrame(rdd_ml, ['label', 'features'])

df_ml.show(5)

print("---------------------- Train Test ----------------------")

# Splitting data into two training and test sets
# by default the sample is randomly distributed
train, test = df_ml.randomSplit([0.8, 0.2], seed=222)


print("---------------------- LinearRegression ----------------------")
# import of LinearRegression from the pyspark.ml.regression package
from pyspark.ml.regression import LinearRegression

# Creating an estimator: Linear regression
lr = LinearRegression(featuresCol = 'features', labelCol = 'label')

print("---------------------- Param Grid Builder ----------------------")
# Import of ParamGridBuilder from the pyspark.ml.tuning package
from pyspark.ml.tuning import ParamGridBuilder

# Creating a parameter grid
param_grid = ParamGridBuilder().\
    addGrid(lr.regParam, [0, 0.5, 1]).\
    addGrid(lr.elasticNetParam, [0, 0.5, 1]).\
    build()

print("---------------------- RegressionEvaluator ----------------------")
# Import of RegressionEvaluator from the pyspark.ml.evaluation package
from pyspark.ml.evaluation import RegressionEvaluator

ev = RegressionEvaluator(predictionCol='prediction',
                                labelCol='label',
                                metricName='rmse')

print("---------------------- CrossValidator ----------------------")
#Import of CrossValidator from the pyspark.ml.tuning package
from pyspark.ml.tuning import CrossValidator

# Creation of a 3-fold cross validator
cv = CrossValidator(estimator = lr,
                    estimatorParamMaps = param_grid,
                    evaluator=ev,
                    numFolds=3)

print("---------------------- model.fit(train) ----------------------")
# Import of the time library and calculation of time at the beginning of the execution (t0)
from time import time
t0 = time()

#lr = LinearRegression(featuresCol = 'features', labelCol = 'label')
#ev = RegressionEvaluator(predictionCol='prediction', labelCol='label', metricName='r2')
#cv = CrossValidator(estimator = lr, estimatorParamMaps = param_grid, evaluator = ev, numFolds = 3)

cv_model = cv.fit(train)

tt = time() - t0
print(f"Done in {round(tt, 3)} seconds")

print("---------------------- predictions ----------------------")
# Calculation of predictions on training set 
pred_train = cv_model.transform(train)

# Calculation of predictions on test set 
pred_test  = cv_model.transform(test)

print("---------------------- r2, rmse ----------------------")
r_square = ev.setMetricName('r2').evaluate(pred_test)

rmse = ev.setMetricName('rmse').evaluate(pred_test)

print("R_Square = ",r_square)
print("RMSE = ",rmse)

print("---------------------- rmodel coefficients ----------------------")
# Display of model coefficients
print(cv_model.bestModel.coefficients)


# Total Time
finish = time()
print("Total Time = ", finish - start)

---------------------- Load Data ----------------------

+-------+--------------------+
|  label|            features|
+-------+--------------------+
|1868.81|[0.7318,1367.5911...|
|1868.81|[0.7848,1466.6379...|
| 1868.8|[0.7931,1482.1490...|
| 1868.8|[1.2622,2358.8075...|
| 1868.8|[3.504,6548.30002...|
+-------+--------------------+
only showing top 5 rows

---------------------- Train Test ----------------------
---------------------- LinearRegression ----------------------
---------------------- Param Grid Builder ----------------------
---------------------- RegressionEvaluator ----------------------
---------------------- CrossValidator ----------------------
---------------------- model.fit(train) ----------------------

23/06/05 18:15:57 WARN Instrumentation: [3376b4de] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:15:57 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.JNIBLAS
23/06/05 18:15:57 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.blas.VectorBLAS
23/06/05 18:15:57 WARN InstanceBuilder: Failed to load implementation from:dev.ludovic.netlib.lapack.JNILAPACK
23/06/05 18:15:58 WARN Instrumentation: [a5e58953] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:15:58 WARN Instrumentation: [6763e4dc] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:16:01 ERROR OWLQN: Failure! Resetting history: breeze.optimize.NaNHistory:
23/06/05 18:16:04 WARN Instrumentation: [4ef9b981] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:16:04 WARN Instrumentation: [4ef9b981] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.
23/06/05 18:16:04 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:04 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:04 ERROR LBFGS: Failure again! Giving up and returning. Maybe the objective is just poorly behaved?
23/06/05 18:16:05 WARN Instrumentation: [f63008a9] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:16:05 WARN Instrumentation: [f63008a9] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.
23/06/05 18:16:05 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:05 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:05 ERROR LBFGS: Failure again! Giving up and returning. Maybe the objective is just poorly behaved?
23/06/05 18:16:05 WARN Instrumentation: [9fa1e168] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:16:05 WARN Instrumentation: [9fa1e168] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.
23/06/05 18:16:05 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:05 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:05 ERROR LBFGS: Failure again! Giving up and returning. Maybe the objective is just poorly behaved?
23/06/05 18:16:06 ERROR OWLQN: Failure! Resetting history: breeze.optimize.NaNHistory:
23/06/05 18:16:09 WARN Instrumentation: [a796e3a1] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:16:09 WARN Instrumentation: [a796e3a1] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.
23/06/05 18:16:09 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:09 ERROR LBFGS: Failure again! Giving up and returning. Maybe the objective is just poorly behaved?
23/06/05 18:16:10 WARN Instrumentation: [8acd1214] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:16:10 WARN Instrumentation: [8acd1214] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.
23/06/05 18:16:10 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:10 ERROR LBFGS: Failure again! Giving up and returning. Maybe the objective is just poorly behaved?
23/06/05 18:16:10 WARN Instrumentation: [05aaeb96] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:16:10 WARN Instrumentation: [05aaeb96] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.
23/06/05 18:16:10 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:10 ERROR LBFGS: Failure again! Giving up and returning. Maybe the objective is just poorly behaved?
23/06/05 18:16:14 WARN Instrumentation: [65e7f038] regParam is zero, which might cause numerical instability and overfitting.
23/06/05 18:16:14 WARN Instrumentation: [65e7f038] Cholesky solver failed due to singular covariance matrix. Retrying with Quasi-Newton solver.
23/06/05 18:16:14 ERROR LBFGS: Failure! Resetting history: breeze.optimize.FirstOrderException: Line search zoom failed
23/06/05 18:16:14 ERROR LBFGS: Failure again! Giving up and returning. Maybe the objective is just poorly behaved?

Done in 19.298 seconds
---------------------- predictions ----------------------
---------------------- r2, rmse ----------------------
R_Square =  0.9398109149301592
RMSE =  0.23487048285914575
---------------------- rmodel coefficients ----------------------
[-0.001571201129892677,-8.343774751358046e-07,0.0020680816186286694,1.1136571090850908e-06,0.0007133758678050043,1.4702412255014163e-05,1.4756548314306742e-05,0.037574733540339904,0.5757158381291523,0.3149082309772327]
Total Time =  22.630509614944458

In [10]:
pred_test.show()

+-------+--------------------+------------------+
|  label|            features|        prediction|
+-------+--------------------+------------------+
| 1868.8|[9.162,17121.9793...|1868.5914675813474|
|1868.85|[26.762,50023.655...| 1869.172316017277|
|1868.85|[28.9334,54081.68...|1869.1783686527997|
|1868.86|[3.5304,6597.8202...|1868.5967170580625|
|1869.02|[22.9397,42879.96...| 1869.486812133182|
| 1869.2|[8.077,15095.3964...|1869.2030844953624|
|1869.27|[8.4544,15804.356...|1869.5167922753244|
|1869.28|[0.5733,1071.6621...|1869.5246811306934|
|1869.28|[46.1858,86353.44...| 1869.488937400507|
| 1869.3|[18.3071,34218.84...|1869.5589292129807|
|1869.37|[37.1382,69428.09...|  1869.46651601763|
|1869.37|[37.4093,69934.87...|1869.4682161532037|
|1869.37|[37.4151,69945.72...|1869.4689261260428|
|1869.37|[40.3375,75408.79...|1869.4833722875628|
|1869.38|[23.215,43400.408...|1869.4594089813618|
|1869.39|[11.4683,21434.82...|1869.2136411044266|
|1869.39|[18.4106,34412.32...|1869.5608679877769|
|1869.39|[22.1468,41396.76...|1869.5654350170807|
| 1869.4|[3.1359,5862.2332...|1869.5399823447078|
| 1869.4|[21.9921,41107.56...|1869.5625632207302|
+-------+--------------------+------------------+
only showing top 20 rows