# Pysapak

In [1]:
import warnings
warnings.simplefilter(action='ignore')

## Pyspark Deneme

In [1]:
import pyspark
from pyspark.sql import SparkSession

# Create SparkSession
spark = SparkSession.builder.master("local[*]") \
                    .appName('BigData-ETL.com') \
                    .getOrCreate()

print(f'The PySpark {spark.version} version is running...')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/28 12:51:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

The PySpark 3.4.0 version is running...

## Pysaprk DataScientest Ders01

In [2]:
# Importing SparkContext from the pyspark module
from pyspark import SparkContext

# Defining a SparkContext locally
sc = SparkContext('local')
sc

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/05/29 12:23:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
import pandas as pd

path = "/Users/macbook/Desktop/IBM/DataScientest Serverdan Indirilen Dosyalar"

df = pd.read_csv(f"{path}/2008.csv", header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,19,20,21,22,23,24,25,26,27,28
0,2008,1,1,2,2057.0,2052,2312.0,2258,AS,324,...,7.0,16.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,1,2,703.0,715,958.0,951,AS,572,...,6.0,25.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,1,2,2011.0,1846,2248.0,2145,AS,511,...,7.0,14.0,0,NaN,0,0.0,0.0,0.0,0.0,63.0
3,2008,1,1,2,2301.0,2300,2354.0,2359,AS,376,...,5.0,13.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN
4,2008,1,1,2,1221.0,1221,1422.0,1438,AS,729,...,6.0,11.0,0,NaN,0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151102 entries, 0 to 151101
Data columns (total 29 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   0       151102 non-null  int64
 1   1       151102 non-null  int64
 2   2       151102 non-null  int64
 3   3       151102 non-null  int64
 4   4       148984 non-null  float64
 5   5       151102 non-null  int64
 6   6       148554 non-null  float64
 7   7       151102 non-null  int64
 8   8       151102 non-null  object
 9   9       151102 non-null  int64
 10  10      151102 non-null  object
 11  11      148492 non-null  float64
 12  12      151102 non-null  int64
 13  13      148492 non-null  float64
 14  14      148492 non-null  float64
 15  15      148984 non-null  float64
 16  16      151102 non-null  object
 17  17      151102 non-null  object
 18  18      151102 non-null  int64
 19  19      148554 non-null  float64
 20  20      148970 non-null  float64
 21  21      151102 non-null  int64
 22  22      2139 non-null    object
 23  23      151102 non-null  int64
 24  24      30190 non-null   float64
 25  25      30190 non-null   float64
 26  26      30190 non-null   float64
 27  27      30190 non-null   float64
 28  28      30190 non-null   float64
dtypes: float64(13), int64(11), object(5)
memory usage: 33.4+ MB

In [5]:
raw_rdd = sc.textFile(f"{path}/2008.csv")

In [6]:
raw_rdd.take(5)

['2008,1,1,2,2057,2052,2312,2258,AS,324,N306AS,135,126,112,14,5,SEA,SJC,697,7,16,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,703,715,958,951,AS,572,N302AS,175,156,144,7,-12,SEA,PSP,987,6,25,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,2011,1846,2248,2145,AS,511,N564AS,157,179,136,63,85,SAN,SEA,1050,7,14,0,,0,0,0,0,0,63',
 '2008,1,1,2,2301,2300,2354,2359,AS,376,N309AS,53,59,35,-5,1,SEA,GEG,224,5,13,0,,0,NA,NA,NA,NA,NA',
 '2008,1,1,2,1221,1221,1422,1438,AS,729,N317AS,181,197,164,-16,0,TUS,SEA,1216,6,11,0,,0,NA,NA,NA,NA,NA']